<div class="container_fluid aministrador_tabla_body">
    <!--- - - - - - - -!-->
    <!-- MENU  MOBIL !--->
    <!--- - - - - - - -!-->
    <!--- - - - - - - -!-->
    <div class="row menu_mobil">
      <div class="row" style="padding-top:10px; padding-left:40px;" id="divNewNotifications">
        <ul id="administrador_menu" class="col-xs-6" style="list-style: none; cursor:pointer;">
          <li class="dropdown active" style="color:#ff1d25;">
            <a class="dropdown-toggle" id="dropdown_title" data-toggle="dropdown" >Espalda</a>
            <ul id="divNewNotifications" class="dropdown-menu" style="list-style: none;">
              <li><a class="dropdown-item" id="admin_espalda_corpo" href="#">ESPALDA PESO CORPORAL</a></li>
              <li><a class="dropdown-item" id="admin_pecho_fuerza" href="#">PECHO FUERZA</a></li>
              <li><a class="dropdown-item" id="admin_pecho" href="#">PECHO</a></li>
              <li><a class="dropdown-item" id="admin_press_militar" href="#">PRESS MILITAR</a></li>
              <li><a class="dropdown-item" id="admin_hombro_front" href="#">HOMBRO FRONTALES</a></li>
              <li><a class="dropdown-item" id="admin_hombro_lateral" href="#">HOMBRO LATERALES </a></li>
              <li><a class="dropdown-item" id="admin_pajaros" href="#">PÁJAROS</a></li>
              <li><a class="dropdown-item" id="admin_lagartija" href="#">LAGARTIJA PIKE</a></li>
              <li><a class="dropdown-item" id="admin_tricep_fondos" href="#">TRICEP FONDOS </a></li>
              <li><a class="dropdown-item" id="admin_tricep" href="#">TRICEP </a></li>
              <li><a class="dropdown-item" id="admin_bicep" href="#">BICEP </a></li>
              <li><a class="dropdown-item" id="admin_pierna" href="#">Pierna </a></li>
              <li><a class="dropdown-item" id="admin_pantorilla" href="#">PANTORILLA </a></li>
              <li><a class="dropdown-item" id="admin_pantorilla_saltando" href="#">PANTORILLAS SALTANDO</a></li>
              <li><a class="dropdown-item" id="admin_calentamiento" href="#">CALENTAMIENTO</a></li>
              <li><a class="dropdown-item" id="admin_ACL" href="#">ACL</a></li>
              <li><a class="dropdown-item" id="admin_rot" href="#">ROT CUFF</a></li>
              <li><a class="dropdown-item" id="admin_squat" href="#">SQUAT MOBILITY</a></li>
            </ul>
          </li>
        </ul>
        <div class="col-xs-6">
          <p id="administradores_ejercicios_totales">31 EJERCICIOS TOTALES</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4" style="margin-left:100px;">
          <center><img src="/img/administrador_button_Gray@2x.png" id="administrador_boton_rojo" alt="" width="35px"></center>
        </div>

        <div class="col-xs-4">
          <center><img src="/img/administrador_button_red@2x.png" id="administrador_boton_rojo" alt="" width="35px"></center>
        </div>

        <div class="col-xs-4">
          <center><img src="/img/administrador_add@2x.png" width="35px" alt="" class="administrador_add"></center>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" id="administrador_searchbar">
          <label><input type="text" name="" value="search" placeholder="Buscar..." id="administrador_searchbar_look"></label>
          <img src="/img/lupita_lupa.png" alt="" width="25px;">
        </div>
      </div>
    </div>


    <!--- - - - - - - -!-->
    <!---      MENU   !--->
    <!--- - - - - - - -!-->
    <!--- - - - - - - -!-->


    <div class="row menu_pc">
      <div class="col-sm-3" id="divNewNotifications">
        <ul id="administrador_menu" style="list-style: none; cursor:pointer;" >
          <li class="active" style="color:#ff1d25;" >
            <a class="dropdown-toggle" id="dropdown_title" data-toggle="dropdown" >Espalda</a>
            <ul id="divNewNotifications" class="dropdown-menu">
              <li><a class="dropdown-item" id="admin_espalda_corpo" href="#">ESPALDA PESO CORPORAL</a></li>
              <li><a class="dropdown-item" id="admin_pecho_fuerza" href="#">PECHO FUERZA</a></li>
              <li><a class="dropdown-item" id="admin_pecho" href="#">PECHO</a></li>
              <li><a class="dropdown-item" id="admin_press_militar" href="#">PRESS MILITAR</a></li>
              <li><a class="dropdown-item" id="admin_hombro_front" href="#">HOMBRO FRONTALES</a></li>
              <li><a class="dropdown-item" id="admin_hombro_lateral" href="#">HOMBRO LATERALES </a></li>
              <li><a class="dropdown-item" id="admin_pajaros" href="#">PÁJAROS</a></li>
              <li><a class="dropdown-item" id="admin_lagartija" href="#">LAGARTIJA PIKE</a></li>
              <li><a class="dropdown-item" id="admin_tricep_fondos" href="#">TRICEP FONDOS </a></li>
              <li><a class="dropdown-item" id="admin_tricep" href="#">TRICEP </a></li>
              <li><a class="dropdown-item" id="admin_bicep" href="#">BICEP </a></li>
              <li><a class="dropdown-item" id="admin_pierna" href="#">PIERNA </a></li>
              <li><a class="dropdown-item" id="admin_pantorilla" href="#">PANTORILLA </a></li>
              <li><a class="dropdown-item" id="admin_pantorilla_saltando" href="#">PANTORILLAS SALTANDO</a></li>
              <li><a class="dropdown-item" id="admin_calentamiento" href="#">CALENTAMIENTO</a></li>
              <li><a class="dropdown-item" id="admin_ACL" href="#">ACL</a></li>
              <li><a class="dropdown-item" id="admin_rot" href="#">ROT CUFF</a></li>
              <li><a class="dropdown-item" id="admin_squat" href="#">SQUAT MOBILITY</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <p id="administradores_ejercicios_totales">31 EJERCICIOS TOTALES</p>
      </div>
      <div class="col-sm-2" id="administrador_menu_botones">
        <img src="/img/administrador_button_red@2x.png" class="float-right" alt="" width="35px" style="margin-left:5px;" id="red_button">
        <img src="/img/administrador_button_Gray@2x.png" alt="" width="35px" class="float-right" id="gray_button">
      </div>
      <div class="col-sm-4" style="padding:0;">
        <label id="administrador_searchbar"><input type="text" name="" value="search" placeholder="Buscar..." id="administrador_searchbar_look"></label>
        <img src="/img/lupita_lupa.png" alt="" width="25px;" id="lupita_lupa">
      </div>

      <div class="col-sm-1">
        <center><img class="administrador_add" src="/img/administrador_add@2x.png" width="35px" alt=""></center>
      </div>
    </div>







    <div class="row admin_tabla_pc">
      <center>
        <table class="tabla_ejercicios table-striped table-hover">
          <thead>
            <tr id="tabla_titulos">
              <th>Nombre</th>
              <th>Reps</th>
              <th class="admin_descripcion_delet">Descripcion</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
        </table>
      </center>
    </div>

    <!--- - - - - - - -!-->
    <!--- TABLA MOBIL  !--->
    <!--- - - - - - - -!-->
    <!--- - - - - - - -!-->
    <div class="row admin_tabla_mobil">
      <center>
        <table class="tabla_ejercicios_mobil table-striped table-hover">
          <thead>
            <tr id="tabla_titulos">
              <th>Nombre</th>
              <th>Tipo</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
          <tr id="tr_hover">
            <td class="admin_nombre"> Lagartijas </td>
            <td class="admin_tipo"> 3 sets de 15 repeticiones </td>
            <td>
              <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" id="administrador_puntos"></div>
            </td>
            <td>
              <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
            </td>
          </tr>
        </table>
      </center>
    </div>

    <!--- - - - - - - -!-->
    <!---      MODAL  !--->
    <!--- - - - - - - -!-->
    <!--- - - - - - - -!-->
    <div id="admin_popup">
      <center>
        <div class="overlay_popup">

        </div>
        <div class="animated fadeInUp" id="sistema_admin_agregar_ejercicio">

          <center>
            <div class="banner_top">
              <h1 style="display:inline-block;">Nuevo Ejercicio</h1>
              <i id="cerrar_admi_agregar_ejer" style="display:inline-block;" class="fas fa-times-circle"></i>
            </div>
          </center>
          <div class="container">
            <div class="sistema_admi_boxes row">
              <div class="col">
                <div>
                  <h5>CATEGORIA</h5>
                  <select name="" id="">
                    <option value="">ESPALDA</option>
                    <option value="">BICEP</option>
                    <option value="">PIERNA</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div>
                  <h5>TIPO</h5>
                  <select name="" id="">
                    <option value="">FUNDAMENTAL</option>
                    <option value="">AUXILIAR</option>
                  </select>
                </div>
              </div>
              <div class="offset-2"></div>
            </div>
            <div class=" sistema_admi_boxes row">
              <div class="col">
                <div>
                  <h5>NOMBRE DE EJERCICIO</h5>
                  <input id="sistema_admi_nombre_ejercicio_input" placeholder="Escribe el nombre aquí" type="text">
                </div>
              </div>
            </div>
            <div class=" sistema_admi_boxes row">
              <div class="col">
                <div>
                  <h5>DESCRIPCION</h5>
                  <input id="sistema_admi_descrip_ejercicio_input" placeholder="Escribe la descripción aquí" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="admi_contenedor_upoload_ejercicio" class="col">
                <input id="unpload_image" style="display:none;" type="file">
                <label id="label_unpload" for="unpload_image"><i class="fas fa-file-upload"></i>Carga tu imagen</label>
              </div>
            </div>
            <div class="botones_acciones_box row">
              <div class="col">
                <button class="btn_aceptar_nuevo_ejer">Agregar</button>
                <button class="btn_cancelar_nuevo_ejer">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </center>

    </div>