<div style="background-color:#191a1a;" class="col-12">
    <div class="row">
        <div class="col-12">
            <center><h1 id="titulo_creacion_usuario">Crear un nuevo usuario</h1></center>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input class="input_creacion_usuario" placeholder="Nombre">
        </div>
        <div class="col-6">
            <input class="input_creacion_usuario" placeholder="Apellido">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input class="input_creacion_usuario" placeholder="Correo Elecronico">
        </div>
        <div class="col-6">
            <input class="input_creacion_usuario" placeholder="Contrae;a">
        </div>
    </div>
     <div class="row">
        <div class="col-6">
            <input style="color:white;" class="input_creacion_usuario" type="date" placeholder="Correo Elecronico">
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <select class="select_creacion_usuario">
                <option>Deporte</option>
                <option>Multi-deporte</option>
                <option>Futbol Americano</option>
                <option>Soccer</option>
                <option>Baloncesto</option>
                <option>Beisbol</option>
                <option>Hockey</option>
                <option>Hockeycpasto</option>
                <option>Atletismo</option>
                <option>Golf</option>
                <option>Tennis</option>
                <option>Tennis Country</option>
                <option>Rugby</option>
                <option>Lacrosse</option>
                <option>Natación</option>
                <option>Voleibol</option>
                <option>Lucha Olímpica</option>
                <option>Porras Y Baile</option>
                <option>Ciclismo</option>
                <option>Maratón</option>
                <option>Correr</option>
                <option>Triathlon</option>
                <option>Handball</option>
                <option>Carrera de Obstaculos</option>
                <option>Waterpolo</option>
            </select>
        </div>
        <div class="col-6">
            <select class="select_creacion_usuario">
                <option>Posicion</option>
                <option>Skill</option>
                <option>Linea</option>
                <option>Pateador</option>
                <option>Mariscal de campo</option>
                <option>Poste</option>
                <option>Botador-Ala</option>
                <option>Pitcher</option>
                <option>Infield/Outfield</option>
                <option>Portero</option>
                <option>Campo</option>
            </select>

        </div>
        <div class="row">
            <div class="col-12">
                <center><button id="btn_crear_usuario">Crear Usuario</button></center>
            </div>
        </div>
    </div>

</div>

<div id="fondo_negro"></div>
