<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div style="color:white; border:1px solid white;">asdasdasdasd</div>
            <button>Cambiar / Comprar</button>
        </div>
    </div>
     <div class="row">
        <div class="col-12">
            <div style="color:white; border:1px solid white;">asdasdasdasd</div>
            <button>Cambiar / Comprar</button>
        </div>
    </div>
     <div class="row">
        <div class="col-12">
            <div style="color:white; border:1px solid white;">asdasdasdasd</div>
            <button>Cambiar / Comprar</button>
        </div>
    </div>
</div>
