
<div class="subbanners_sistema_menu">
    <div style="background-color:#202020;" class="sistema_banner d-flex flex-row align-items-center">
        <div class="sistema_icono"></div>
        <h2>PLANES</h2>
    </div>
</div>

<div class="contenedor_planes_sistema container-fluid">
    <div class="top_renglon_planes_sistema row">
        <div class="col-12">
            <center><h3 style="font-weight:bold; margin:0 0 0px 0; color:white;">Planes de Pagos por medio de suscripción</h3></center>

            <center>
                <i class="icono_submensaje_planes_sistema fas fa-exclamation-circle"></i>
                <p id="mensaje_planes">Si se cambia de plan actual que se tiene en la cuenta, se cancelará el plan previo el día de facturación</p>
            </center>


        </div>
    </div>
<center>
    <div class="row">
        <div class="col-md-4 col-sm-12">
         <div class="planes_contenedor col-12">
            <i class="fas fa-box"></i>
            <h5>Suscripción Mensual</h5>
            <h3>$150 M.X.N.</h3>
            <p>Rutinas y tus analíticos</p>
            <button id="plan_mensual">Cambiar / Comprar</button>
         </div>
        </div>
        <div class="col-md-4 col-sm-12">
         <div class="planes_contenedor col-12">
            <i class="fas fa-boxes"></i>
            <h5>Suscripción Trimestral</h5>
            <h3>$400 M.X.N.</h3>
            <p>Ahorra un 10%</p>
            <button id="plan_trimestral">Cambiar / Comprar</button>
         </div>
        </div>
        <div class="col-md-4 col-sm-12">
         <div class="planes_contenedor col-12">
            <i class="fas fa-box-open"></i>
            <h5>Suscripción Anual</h5>
            <h3>$1500 M.X.N.</h3>
            <p>Ahorra un 12.5%</p>
            <button id="plan_anual">Cambiar / Comprar</button>
         </div>
        </div>
    </div>
</center>

</div>

<script>
metodos_menu('PLANES');

$('#plan_mensual, #plan_trimestral, #plan_anual').on('click', function() {
    Swal({
    title: '¿Estás seguro?',
    text: "Tu plan será alterado despues de tu fecha de facturación",
    type: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Aceptar',
    heightAuto: false
    }).then((result) => {
    if (result.value) {
        Swal(
        'Listo',
        'Tu plan será cambiado despues de tu fecha de facturación',
        'success',
        )
    }
    })
});

</script>