<div class="container-fluid">
    <div class="animated bounceInRight row">
        <div class="col-lg-3"></div>
        <div id="Terminar_modal" class="col-sm-12 col-lg-6">
            <div class="terminar_titulo container-fluid">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h3 style="animation-delay:.4s;" class="animated bounceInDown">Un correo de verificación  a sido enviado.</h3>
                        </center>
                    </div>
                    <div class="col-12">
                        <center>
                            <p style="animation-delay:.4s;" class="animated bounceInDown"><b>Atención:</b> El correo puede encontrarse en el folder de "spam" en algunos casos.</p>
                        </center>
                    </div>
                    <div class="col-12">
                        <div>
                            <center><%= image_tag("iconFinal Registrto-01.png", :class => "animated bounceInDown", :width => "130px", :style => "animation-delay:.6s;") %></center>
                        </div>
                    </div>

                    <div class="col-12">
                        <center><button style="animation-delay:1s;" class="animated bounceIn" id="terminar_btn">Reenviar</button></center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>