<div class="container-fluid">
    <div class="animated bounceInRight row">
        <div class="col-lg-3"></div>
        <div id="Terminar_modal" class="col-sm-12 col-lg-6">
            <div id="aviso_contacto_titulo" class="row">
                <div class="col-12">
                    <center>
                        <img src="img/contact.png" alt="">
                    </center>
                </div>
                <div class="col-12">
                    <center>
                        <h1>Hemos recibido tu información</h1>
                    </center>
                </div>
                <div class="col-12">
                    <center>
                        <h5>En los días próximos recibiras una llamada y correo de parte de nosotros para que facilmente puedas integrarte</h5>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <center><button id="aviso_contacto_btn">Regresar a Mentalidad Impact</button></center>
                </div>
            </div>

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>