<div class="container-fluid">
    <div class="animated bounceInRight row">
        <div class="col-lg-3"></div>
        <div id="Terminar_modal" class="col-sm-12 col-lg-6">
            <div class="terminar_titulo container-fluid">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h1 style="animation-delay:.4s;" class="animated bounceInDown">Un correo de verificación <br> a sido enviado.</h1>
                        </center>
                    </div>
                    <div class="col-12">
                        <div>
                            <center><%= image_tag("iconFinal Registrto-01.png", :class => "animated bounceInDown", :width => "200px", :style => "animation-delay:.6s;") %></center>
                        </div>
                    </div>
                    <div class="col-12">
                        <center>
                            <h4 style="animation-delay:.8s;" class=" animated bounceInDown terminar_mensaje">Presiona el boton para reenviar el correo de confirmación</p>
                        </center>
                    </div>
                    <div class="col-12">
                        <center><button style="animation-delay:1s;" class="animated bounceIn" id="terminar_btn">Reenviar</button></center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>