
        <div class="subbanners_sistema_menu">
            <div style="background-color:#202020;" class="sistema_banner">
                <h2> LIBRERÍA DE CORRIDAS </h2>
            </div>
        </div>

        <div class="container-fluid">
                <div class="row">
                        <div style="margin:3vw; colorM:white;" class="col-12">
                                <span>filtro</span>
                                <input type="text">
                                <button>Buscar</button>
                        </div>
                </div>
        </div>
        <div class="sistema_libreria_contenido d-flex flex-column">
        <div class="sistema_cuenta_cerrar" id="sistema_r_cerrar"></div>
        <iframe class="sistema_r_videopopup" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="sistema_libreria_contejercicios" class="d-flex flex-wrap justify-content-around">
            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> JOGGIES A  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/bi4TeJq6eDY/hqdefault.jpg" id="bi4TeJq6eDY">
            </div>
            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> JOGGIES PATADAS  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/mTVbaaenf94/hqdefault.jpg" id="mTVbaaenf94">
            </div>
            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> JOGGIES RAPIDOS CORTITOS  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/SIBU58ZYUUk/hqdefault.jpg" id="SIBU58ZYUUk">
            </div>

            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> SALIDA 2 PUNTOS </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/WtACQtpSSAA/hqdefault.jpg" id="WtACQtpSSAA">
            </div>

            <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                    <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                            <div class="sistema_libreria_tipoejercicio"> SALIDA 3 PUNTOS </div>
                    </div>
                    <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/9tWOcMCbSp8/hqdefault.jpg" id="9tWOcMCbSp8">
                </div>
            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio">  INDIOS  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/JdvqXVPZcGs/hqdefault.jpg" id="JdvqXVPZcGs">
            </div>
            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> VENADOS  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/LOh3uQeslRU/hqdefault.jpg" id="LOh3uQeslRU">
            </div>

            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> VENADOS PAUSADOS  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/U2SirsLxG-s/hqdefault.jpg" id="U2SirsLxG-s">
            </div>

            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> SKIPS A MISMO TOQUE  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/On8EZEX2jKA/hqdefault.jpg" id="On8EZEX2jKA">
            </div>

            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> SKIPS A MISMO BRACEO  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/xenUgqyYkBM/hqdefault.jpg" id="xenUgqyYkBM">
            </div>

            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> SKIPS A ALTERNADO  </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/-Hde-ODW2oM/hqdefault.jpg" id="-Hde-ODW2oM">
            </div>

            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> SKIPS A ALTERNADO TOQUE </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/XRr2tpj6-8s/hqdefault.jpg" id="XRr2tpj6-8s">
            </div>

            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> SALTOS SENTADILLAS </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/trI6OpHwvjI/hqdefault.jpg" id="trI6OpHwvjI">
            </div>

            <!-- EJERCICIO -->
            <div class="sistema_libreria_ejercicio d-flex">
                <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                        <div class="sistema_libreria_tipoejercicio"> SALTOS LATERALES </div>
                </div>
                <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/xhqUzvuT7QU/hqdefault.jpg" id="xhqUzvuT7QU">
            </div>

            </div>

            <div class="sistema_libreria_calentamiento"> CALENTAMIENTO DINÁMICO</div>

            <div id="sistema_libreria_contejercicios" class="d-flex flex-wrap justify-content-around">
                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_libreria_tipoejercicio"> DESPLANTES CON GIRO </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/ZBC2y0VT7Yo/hqdefault.jpg" id="ZBC2y0VT7Yo">
                    </div>

                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_libreria_tipoejercicio"> PUENTES </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/O6S8Ji0bACw/hqdefault.jpg" id="O6S8Ji0bACw">
                    </div>

                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_libreria_tipoejercicio"> SUPERMAN </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/FhbdmAIfP-U/hqdefault.jpg" id="FhbdmAIfP-U">
                </div>

                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_libreria_tipoejercicio"> TOQUE PUNTA </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/i-lz1eM1IgI/hqdefault.jpg" id="i-lz1eM1IgI">
                </div>

                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_libreria_tipoejercicio"> TOQUE PUNTA INVERTIDO </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/VUfX2-MneCg/hqdefault.jpg" id="VUfX2-MneCg">
                </div>

                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_libreria_tipoejercicio"> CUATROS </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/78kCmIE4f6A/hqdefault.jpg" id="78kCmIE4f6A">
                </div>

                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_libreria_tipoejercicio"> INCADO CADERA </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/9c7l4OFnJjY/hqdefault.jpg" id="9c7l4OFnJjY">
                </div>

                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_libreria_tipoejercicio"> INCADO INGLE </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/c0K28kt1UpI/hqdefault.jpg" id="c0K28kt1UpI">
                </div>


            </div>
        </div>


<script>
metodos_menu('CORRIDAS');
</script>

<script>
$(".sistema_r_videopopup").hide();
$("#sistema_r_cerrar").hide();

$(".sistema_libreria_ejerciciovid").click(function(){
    var aid = "https://www.youtube.com/embed/" ;
    var src2 = $(this).attr('id');
    var src2 = aid + src2;
    src2 = src2 + "?&rel=0&loop=1&showinfo=0&modestbranding=1&controls=0&autoplay=1";
    $(".sistema_r_videopopup").attr('src',src2);
    $("#sistema_r_cerrar").show();
    $(".sistema_r_videopopup").show();
    $("#sistema_r_cerrar").click(function(){
        $(".sistema_r_videopopup").hide();
        $(".sistema_r_videopopup").attr('src',"");
        $("#sistema_r_cerrar").hide();
    });
});
</script>