
        <div class="subbanners_sistema_menu">
            <div style="background-color:#202020;" class="sistema_banner">
                <h2> LIBRERÍA DE CORRIDAS </h2>
            </div>
        </div>
        <div class="sistema_contenido d-flex flex-column justify-content-start">
            <div id="sistema_libreria_contejercicios" class="d-flex flex-wrap justify-content-around">  
                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                    <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                            <div class="sistema_r_tipoejercicio"> JOGGIES A  </div>
                    </div>
                    <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/1UhFWoDZLxA/hqdefault.jpg">
                </div>

                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_r_tipoejercicio"> JOGGIES A  </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/1UhFWoDZLxA/hqdefault.jpg">
                    </div>

                    <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_r_tipoejercicio"> JOGGIES A  </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/1UhFWoDZLxA/hqdefault.jpg">
                    </div>

                    <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_r_tipoejercicio"> JOGGIES A  </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/1UhFWoDZLxA/hqdefault.jpg">
                    </div>
                    
            </div>
            
            <div class="sistema_libreria_calentamiento"> CALENTAMIENTO DINÁMICO</div>
            
            <div id="sistema_libreria_contejercicios" class="d-flex flex-wrap justify-content-around">
                <!-- EJERCICIO -->
                <div class="sistema_libreria_ejercicio d-flex">
                        <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                <div class="sistema_r_tipoejercicio"> JOGGIES A </div>
                        </div>
                        <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/1UhFWoDZLxA/hqdefault.jpg">
                    </div>
    
                    <!-- EJERCICIO -->
                    <div class="sistema_libreria_ejercicio d-flex">
                            <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                    <div class="sistema_r_tipoejercicio"> JOGGIES A  </div>
                            </div>
                            <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/1UhFWoDZLxA/hqdefault.jpg">
                        </div>
    
                        <!-- EJERCICIO -->
                    <div class="sistema_libreria_ejercicio d-flex">
                            <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                    <div class="sistema_r_tipoejercicio"> JOGGIES A  </div>
                            </div>
                            <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/1UhFWoDZLxA/hqdefault.jpg">
                        </div>
    
                        <!-- EJERCICIO -->
                    <div class="sistema_libreria_ejercicio d-flex">
                            <div class="sistema_libreria_ejercicio_arriba d-flex align-items-center flex-row justify-content-center">
                                    <div class="sistema_r_tipoejercicio"> JOGGIES A  </div>
                            </div>
                            <img class="sistema_libreria_ejerciciovid" src="https://img.youtube.com/vi/1UhFWoDZLxA/hqdefault.jpg">
                        </div>
            </div>
        </div>        


<script>
metodos_menu('CORRIDAS');
</script>