          <!-- HEADER -->
          <nav id="header_header" class="header_class navbar sticky-top navbar-expand-lg">
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" id="nav_icon"></span>
            </button>
            <a class="navbar-brand" href="/"> <img src="img/impactlogo.png"> </a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" >
                  <a href="/equipos" class="nav-item nav-link header_link"> <img src="img/icon.png"> EQUIPOS</a>
                  <a href="#" class="nav-item nav-link header_link"> <img src="img/icon.png" > BLOG</a>
                  <a href="/nosotros" class="nav-item nav-link header_link"> <img src="img/icon.png" > NOSOTROS</a>
                  <a href="/contacto" class="nav-item nav-link header_link"> <img src="img/icon.png"> CONTACTO</a>
                  <a href="#" class="nav-item nav-link header_login d-flex justify-content-center"> <p class="align-self-center"> LOG IN </p></a>
                </div>
            </div>
        </nav>
