<body id="contacto_body">



        <div class="container-fluid">
        <%= render "header_landing" %>

    <!-- CONTENIDO -->
    <div class="titulo_contacto_landing d-flex justify-content-center">
        <div class="align-self-center" id="contacto_rayaroja"></div>
        <div class="align-self-center" id="contacto_titulo"> CONTACTO </div>
        <div class="align-self-center" id="contacto_rayaroja"></div>
    </div>
    <div class="row d-flex justify-content-around">
            <div id="contacto_contenido1">
                <span id="contacto_contenido1_pregunta"> ¿Tienes alguna duda o comentario? </span>
                <span id="contacto_contenido1_callto"> Envíanos un correo por medio de este formulario </span>
                <form>
                    <div class="d-flex contacto_label_container">
                        <img src="">
                        <div>Nombre</div>
                    </div>

                    <div class="d-flex contacto_input_container">
                        <i class="fa fa-user icon"></i>
                        <input class="contacto_input_field" maxlength="30" type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre...">
                    </div>

                    <div class="d-flex contacto_label_container">
                        <img src="">
                        <div>Correo</div>
                    </div>
                    <div class="d-flex contacto_input_container" >
                        <i class="fa fa-at icon"></i>
                        <input class="contacto_input_field"  maxlength="50"  type="text" id="email" name="email" placeholder="Escribe tu correo electrónico...">
                    </div>

                    <div class="d-flex contacto_label_container">
                        <img src="">
                        <div>Asunto</div>
                    </div>
                    <div class="d-flex contacto_input_container" >
                        <i class="fa fa-question icon"></i>
                        <input class="contacto_input_field" maxlength="50" type="text" id="asunto" name="asunto" placeholder="¿Por qué nos quieres contactar? ...">
                    </div>

                    <div class="d-flex contacto_label_container">
                        <img src="">
                        <div>Mensaje</div>
                    </div>
                    <div class="d-flex contacto_input_container" id="contacto_mensaje" >
                        <i class="fa fa-comment icon"></i>
                        <textarea class="contacto_input_field" type="text" id="mensaje" name="mensaje" placeholder="Escríbenos tu mensaje..."></textarea>
                    </div>
                    <button class="header_login contacto_boton" type="submit"> <p>ENVIAR</p> </button>
                </form>
            </div>
            <div class="" id="contacto_contenido2">
                <span id="contacto_contenido1_pregunta"> ¿Necesitas atención especial? </span>
                <span id="contacto_contenido1_callto"> Contáctanos por los siguientes medios: </span>
                <span class="contacto_contenido2_titulo"> Llámanos </span>
                <div class="contacto_contenido2_info">
                    <img src="img/phoneicon.png"> <span class="contacto_contenido2_infos"> +52 1 686 153 25 69 </span>
                </div>
                <span class="contacto_contenido2_titulo"> Mándanos un correo </span>
                <div class="contacto_contenido2_info">
                    <img src="img/mailicon.png"> <span class="contacto_contenido2_infos"> info@mentalidadimpact.com </span>
                </div>
            </div>
    </div>




    <!-- FOOTER -->
    <div id="footer_container" class="row">
        <div id="footer_contenido">
            <nav class="navbar navbar-expand-lg justify-content-center" id="footer_links">
                    <a href="/equipos" class="nav-item nav-link footer_link"> <img src="img/icon2.png"> EQUIPOS</a>
                    <a href="#" class="nav-item nav-link footer_link"> <img src="img/icon2.png" > BLOG</a>
                    <a href="/contacto" class="nav-item nav-link footer_link"> <img src="img/icon2.png"> CONTACTO</a>
            </nav>
            <div id="footer_contacto" class="d-flex justify-content-between">
                <div id="footer_contacto_1" class="">
                    <span class="footer_contacto_titulo"> E-MAIL: <p class="footer_contacto_info"> mentalidadimpact@gmail.com </p>  </span>
                    <span class="footer_contacto_titulo"> TEL.: <p class="footer_contacto_info"> (52) 1 686 123-4567 </p>  </span>
                </div>
                <div id="footer_contacto_2" class="">
                    <a href="#" class="footer_fb"> </a> <a href="#" class="footer_tw"> </a> <a href="#" class="footer_inst"> </a> <a href="#" class="footer_yt"> </a>
                </div>

                <div id="footer_contacto_3" class="">
                <a href="/"> <img src="img/impactlogo.png"> </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    </body>