<body id="landingequipos_body">
        <div class="container-fluid">

   <%= render "header_landing" %>

            <!-- TITULO -->
            <div class="row">
                <div id="landing2_texto_titulo" class="d-flex flex-wrap">
                    <span id="landing2_titulo1">DESARROLLA LAS HABILIDADES PARA CONQUISTAR </span>
                    <span id="landing2_titulo2">FÍSICA Y MENTALMENTE EL JUEGO</span>
                </div>
                <div class="landing2_botonson" >
                    <a href="/users/sign_up" id="landing_boton1"> <p> REGÍSTRATE </p> </a>
                    <div class="popper">Período de prueba de 7 días</div>
                </div>
            </div>

             <!-- PLAN PERSONALIZADO -->
            <div class="row">
                <div id="landing2_plan" class="d-flex flex-column justify-content-around">
                    <div id="landing2_plan_titulo" class="d-flex flex-column">
                        <span id="landing2_plan_titulo_plan"> MENTALIDAD IMPACT </span>
                        <span id="landing2_plan_titulo_pz"> PARA EQUIPOS </span>
                        <span id="landing2_plan_linea"></span>
                    </div>
                    <div class="d-flex" id="landing2_plan_izyd">
                            <span id="landing2_plan_contenido" class="d-flex flex-column">
                                   <ul id="landing2_lista">
                                        <li> Nuestro sistema para entrenadores y equipos esta diseñado en base a estudios científicos </li>
                                        <li> Disminuye lesiones y mejora el rendimiento en tu equipo </li>
                                        <li> Ponemos a tu disposición el expertise de nuestro staff altamente capacitado y certificado para que construyas un programa efectivo y seguro para que tu equipo se mantenga sano, sea competitivo y ganador </li>
                                    </ul>
                                </span>
                        <span id="landing2_plan2">
                            <div id="landing2_plan2_cel"></div>
                            <div id="landing2_plan2_lap"></div>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="landing2_division"></div>
            </div>

            <div class="row">
                <div id="landingequipos_resultados" class="d-flex">
                    <div id="landingequipos_resultados_left">
                        <div id="resultados_laptop"></div>
                    </div>
                    <div id="landingequipos_resultados_right">
                        <div class="d-flex flex-column">
                            <div class="landingequipos_entrena"> ENTRENA MEJOR PARA </div>
                            <div class="landingequipos_mejores"> MEJORES RESULTADOS </div>
                        </div>
                        <ul class="landingequipos_lista">
                            <li> Ajustable al calendario de competencia de tu equipo </li>
                            <li> Puedes modificar el programa de un atleta en específico según sus necesidades </li>
                            <li> Nuestro sistema le dice al atleta exactamente que hacer y que pesaje usar </li>
                            <li> Toma cada progreso y adapta la rutina para que nunca dejen de ver resultados </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <div id="footer_container" class="row">
                <div id="footer_contenido">
                    <nav class="navbar navbar-expand-lg justify-content-center" id="footer_links">
                            <a href="/equipos" class="nav-item nav-link footer_link"> <img src="img/icon2.png"> EQUIPOS</a>
                            <a href="#" class="nav-item nav-link footer_link"> <img src="img/icon2.png" > BLOG</a>
                            <a href="/contacto" class="nav-item nav-link footer_link"> <img src="img/icon2.png"> CONTACTO</a>
                            <a href="https://mentalidadimpact.com/terminos.html" class="nav-item nav-link footer_link"> <img src="img/icon2.png"> TÉRMINOS Y CONDICIONES</a>
                    </nav>
                    <div id="footer_contacto" class="d-flex justify-content-between">
                        <div id="footer_contacto_1" class="">
                            <span class="footer_contacto_titulo"> E-MAIL: <p class="footer_contacto_info"> mentalidadimpact@gmail.com </p>  </span>
                            <span class="footer_contacto_titulo"> TEL.: <p class="footer_contacto_info"> (52) 1 686 123-4567 </p>  </span>
                        </div>
                        <div id="footer_contacto_2" class="">
                            <a href="https://www.facebook.com/impacttrainingmx/" class="footer_fb" target="_blank"> </a> <a href="#" class="footer_tw" target="_blank"> </a> <a href="https://www.instagram.com/mentalidadimpact/" class="footer_inst" target="_blank"> </a> <a href="https://www.youtube.com/channel/UCfCI_Ndf0GCh2SOVdF-LGZw" class="footer_yt" target="_blank"> </a>
                        </div>

                        <div id="footer_contacto_3" class="">
                        <a href="/"> <img src="img/impactlogo.png"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var ref = $('#landing_boton1');
        var popup = $('.popper');
        popup.show();
        var popper = new Popper(ref,popup,{
                placement: 'bottom'
            });
</script>
</script>
<!-- SCROLL COLOR  -->
<script>
    $(function () {
        $(document).scroll(function () {
            var $nav = $("#header_header");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    });
    </script>