<body id="landing_body">

        <!-- LANDING MOVIL -->
        <div id="landingmovil_container" class="flex-column justify-content-center align-items-center">
                <div class="landingmovil_logo"></div>
                <div id="landingmovil_login">
                    <form>
                        <label class="landingmovil_label">Correo electrónico</label>
                        <input class="landingmovil_input" placeholder="Correo electrónico..." type="text">
                        <label class="landingmovil_label">Contraseña</label>
                        <input class="landingmovil_input" placeholder="Contraseña..." type="password">
                        <!-- <input type="button" class="sistema_cuenta_input" style="width: 50%"> -->
                    </form>
                    <div id="landingmovil_iniciar" class="landingmovil_botones"> Iniciar sesión </div>
                    <div id="landingmovil_registrate" class="landingmovil_botones"> Regístrate </div>
        
                    <div id="landingmovil_olvidaste"> ¿Olvidaste tu contraseña? </div> 
        
                    <div style="color: #1e1e1e; margin-top: 10vw;"> Continuar a mentalidadimpact.com</div>
                    
                </div>
            </div>

        <!-- LANDING NORMAL -->
        <div class="container-fluid">
                
            <!-- HEADER -->
            <nav id="header_header" class="header_class navbar sticky-top navbar-expand-lg">
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" id="nav_icon"></span>
                </button>
                <a class="navbar-brand" href="/"> <img src="img/impactlogo.png"> </a>
                
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav" >
                            <a href="/equipos" class="nav-item nav-link header_link"> <img src="img/icon.png"> EQUIPOS</a>
                            <a href="#" class="nav-item nav-link header_link"> <img src="img/icon.png" > BLOG</a>
                            <a href="/nosotros" class="nav-item nav-link header_link"> <img src="img/icon.png" > NOSOTROS</a>
                            <a href="/contacto" class="nav-item nav-link header_link"> <img src="img/icon.png"> CONTACTO</a>
                            <a href="/users/sign_in" class="nav-item nav-link header_login d-flex justify-content-center"> <p class="align-self-center"> LOG IN </p></a>
                    </div>
                </div>
            </nav>

            <!-- TITULO -->
            <div class="row">  
                <div id="landing_texto_titulo" class="d-flex flex-column">
                    <span id="landing_titulo1">EL SISTEMA DE PREPARACIÓN FÍSICA</span>
                    <span id="landing_titulo2">PARA ATLETAS</span>
                </div>
                <div id="landing_botones_titulo" class="d-flex">
                    <a href="/users/sign_up" id="landing_boton1"> <p> REGISTRATE </p> </a>
                    <div class="popper">Periodo de prueba de 7 días</div>
                    <a href="/equipos" id="landing_boton2"> <p> EQUIPOS </p> </a>
                </div>
            </div>
            
            <!-- #LA REVOLUCION -->
            <div class="row">
                <div id="landing_revoulucion" class="d-flex">
                    <span id="landing_revolucion_titulo" class="d-flex flex-column">
                        <span id="landing_revolucion_titulo_la"> #LA </span>
                        <span id="landing_revolucion_titulo_r"> REVOLUCIÓN </span>
                        <span id="landing_revolucion_linea"></span>
                        <p id="landing_revolucion_titulo_texto"> 
                            Somos la primer plataforma en todo Latino América enfocada en la preparación física de alto rendimiento  con más de 10 años de experiencia.
                        </p>
                        <p id="landing_revolucion_titulo_texto2">
                                Nuestro enfoque es revolucionar la industria del deporte desarrollando atletas <b> más fuertes, más rápidos y con mejores habilidades atléticas </b> para que puedan crear un gran impacto dentro y fuera del campo de juego. 
                        </p>
                        <div id="landing_boton_contacto"> <p> CONOCE COMO FUNCIONA </p> </div>
                    </span>
                    <span id="landing_revolucion2">
                        <div id="landing_cel"></div>
                        <div id="landing_lap"></div>
                    </span>     
                </div>
            </div>

            <div class="row">
                <div class="landing_division"></div>
            </div>

            <!-- MENTALIDAD IMPACT -->
            <div class="row">
                <div id="landing_mentalidad" class="d-flex justify-content-center flex-wrap">
                    <div id="landing_mentalidad_titulo">
                        <span id="landing_mentalidad_titulo1"> MENTALIDAD </span>
                        <span id="landing_mentalidad_titulo2"> IMPACT </span>
                    </div>
                    <div id="landing_mentalidad_texto"> <b>MENTALIDAD IMPACT </b>usa un algoritmo inteligente programado específicamente para crear planes de entrenamiento completamente personalizados según el deporte que practiques, luego se adapta y actualiza conforme el atleta vaya ganando fuerza </div>
                    <div id="landing_mentalidad_caracteristicas" class="d-flex justify-content-around">
                        <div class="landing_mentalidad_caracteristicas_contenedor">
                            <img class="landing_img" src="img/pesa.png">
                            <div class="landing_mentalidad_caracteristicas_contenedor_texto">Todos nuestros programas de fuerza son diseñados en base a estudios científicos del deporte que nos marcan la pauta del por que hacemos las cosas</div>
                        </div>
                        <div class="landing_mentalidad_caracteristicas_contenedor">
                            <img class="landing_img"  src="img/zapato.png">
                            <div class="landing_mentalidad_caracteristicas_contenedor_texto">Nuestro programa de velocidad está basado en el sistema creado por Loren Seagrave, colaborador de IMG Academy. </div>
                        </div>
                        <div class="landing_mentalidad_caracteristicas_contenedor">
                            <img class="landing_img"  src="img/calendario.png">
                            <div class="landing_mentalidad_caracteristicas_contenedor_texto">Usamos la ciencia para metodológicamente periodizar tu programa de entrenamiento, para así, llegar al <b>“tope”</b> en el momento correcto. </div>
                        </div>
                        <div class="landing_mentalidad_caracteristicas_contenedor">
                            <img class="landing_img"  src="img/reloj.png">
                            <div class="landing_mentalidad_caracteristicas_contenedor_texto">Nuestro sistema analiza tus datos para elaborar un plan de entrenamiento completamente personalizado y optimizado para tus metas deportivas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="landing_division2"></div>
            </div>

            <!-- COMO FUNCIONA -->
            <div class="row">
                <div id="landing_funciona" class="d-flex">
                    <div id="landing_funciona_left" class="d-flex flex-column ">
                        <div class="d-flex flex-column"> <span class="landing_funciona_plan">PLAN DE ENTRENAMIENTO </span> <span class="landing_funciona_personalizado">PERSONALIZADO</span></div>
                        <div class="landing_funciona_linea"></div>
                        <ul class="landing_lista">
                            <li> Nuestro sistema esta diseñado para analizar tu información y elaborar un plan de entrenamiento altamente personalizado </li>
                            <li> Adecuado acorde a tus <b>metas</b>, <b>necesidades</b> y <b>deporte</b> </li>
                            <li> Acorde de cargas según tus necesidades </li>
                            <li> Base de datos con mas de 1,000 ejercicios de peso libre, con bandas y con peso. </li>
                        </ul>
                        <span class="landing_funciona_mejora"><i>MEJORA CONTÍNUA</i></span>
                        <ul class="landing_lista">
                            <li> Metodología de entrenamiento por ciclos </li>
                            <li> Sistema de evaluaciones y pruebas cada mes </li>
                            <li> Tu rutina evoluciona y se adapta segun tu progreso </li>
                            <li> Ve resultados en tu desempeño como nunca lo haz hecho </li>
                        </ul>
                    </div>
                    <div id="landing_funciona_right">
                        <div id="landing_funciona_right_img"></div>
                    </div>
                   
                </div>
            </div>

            <!-- DEPORTES -->

            <div class="row">
                    <div id="landing_deportes" class="d-flex flex-column align-items-center">
                        <div id="landing_sistema"> NUESTRO SISTEMA OFRECE MÁS DE 30 DEPORTES</div>
                        <div class="landing_deportes_contenedor d-flex flex-row justify-content-center">
                            
                                <div id="deportesleft" class="landing_arrow_left"></div>
                            

                            <div class="landing_deportes_center">
                                <div class="landing_deportes_deportes d-flex flex-row flex-wrap justify-content-between align-items-center">
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Futbol americano </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Baloncesto </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Beisbol </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Soccer </div>
                                </div>
                                <div class="landing_deportes_deportes d-none flex-row flex-wrap justify-content-between align-items-center">
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Hockey </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Hockey sobre pasto </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Atletismo </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Golf </div>
                                </div>
                                <div class="landing_deportes_deportes d-none flex-row flex-wrap justify-content-between align-items-center">
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Tennis </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Cross Country </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Deportes de combate </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Rugby </div>
                                </div>
                                <div class="landing_deportes_deportes d-none flex-row flex-wrap justify-content-between align-items-center">
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Lacrosse </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Natación </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Voleibol </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Lucha olímpica </div>
                                </div>
                                <div class="landing_deportes_deportes d-none flex-row flex-wrap justify-content-between align-items-center">
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Porras y Baile </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Ciclismo </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Maratón </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Correr </div>
                                </div>
                                <div class="landing_deportes_deportes d-none flex-row flex-wrap justify-content-between align-items-center">
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Handball </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Triatlón </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Carrera de obstáculos </div>
                                    <div class="landing_deportes_deporte d-flex align-items-center justify-content-center"> Water Polo </div>
                                </div>
                            </div>

                            
                                <div id="deportesright" class="landing_arrow_right"></div>
                            
                            
                        </div>
                    </div>
                </div>

            <!-- TESTIMONIOS -->
            <div class="row">
                <div class="landing_testimonios d-flex justify-content-center ">
                    <div class="landing_testimonioscontent d-flex justify-content-center">

                        <div class="landing_testimonios_left d-flex justify-content-around">
                            <div class="landing_testimonios_left_img align-self-start"></div>
                            <div id="testimoniosleft" class="landing_arrow_left align-self-center"></div>
                        </div>

                        <div class="landing_testimonios_center d-flex flex-wrap">
                            <div class="landing_testimonios_center_container">
                                <div class="landing_testimonios_center_container_content d-flex justify-content-end slideInRight">
                                    <div class="landing_testimonios_center_container_content_text d-flex flex-column">
                                        <div class="landing_testimonios_center_container_content_text_titulo"> Rubén “Oso” Gonzalez </div>
                                        <div class="landing_testimonios_center_container_content_text_deporte"> Club Necaxa </div>
                                        <div class="landing_testimonios_center_container_content_text_testimonio"> Antes de conocer este sistema de entrenamiento iba al gimnasio y hacía una rutina convencional o lo que yo creía que estaba bien. Conocí MENTALIDAD IMPACT, gracias a mi hermano quien fue Seleccionado Nacional de Fútbol Americano y fue la mejor decisión que he tomado. Me di cuenta de la importancia de una buena preparación física y sus sistemas me han ayudado bastante a regresar mejor cada temporada, aumentar mi velocidad, mi fuerza y mi coordinación.  </div>
                                    </div>
                                </div>
                                <div class="landing_testimonios_center_container_content d-none justify-content-end animate slideInRight">
                                    <div class="landing_testimonios_center_container_content_text">
                                        <div class="landing_testimonios_center_container_content_text_titulo"> Héctor Hernández </div>
                                        <div class="landing_testimonios_center_container_content_text_deporte">  Capitanes CDMX / Selección Nacional Baloncesto                                        </div>
                                        <div class="landing_testimonios_center_container_content_text_testimonio"> Me ayudo bastante a trabajar de manera específica los músculos y ligamentos necesarios para mi óptimo desempeño como deportista y, en la práctica del baloncesto. Siempre me ha favorecido en el fortalecimiento, estabilización y reacción en las piernas.  </div>
                                    </div>
                                </div>
                                <div class="landing_testimonios_center_container_content d-none justify-content-end">
                                    <div class="landing_testimonios_center_container_content_text">
                                        <div class="landing_testimonios_center_container_content_text_titulo"> Alemao Hernández </div>
                                        <div class="landing_testimonios_center_container_content_text_deporte"> LA Dodgers </div>
                                        <div class="landing_testimonios_center_container_content_text_testimonio"> Mi preparación antes de cada temporada ha sido excelente. Cada ciclo llegaba más fuerte en comparación con mis temporadas anteriores y no dejo de ver avances.  </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="landing_testimonios_right d-flex justify-content-around">
                            <div id="testimoniosright" class="landing_arrow_right align-self-center"></div>    
                            <div class="landing_testimonios_right_img align-self-end"></div>
                        </div>
                    </div>
                </div>

                
            </div>

                <!-- FOOTER -->
            <div id="footer_container" class="row">
                <div id="footer_contenido">
                    <nav class="navbar navbar-expand-lg justify-content-center" id="footer_links">
                            <a href="/equipos" class="nav-item nav-link footer_link"> <img src="img/icon2.png"> EQUIPOS</a>
                            <a href="#" class="nav-item nav-link footer_link"> <img src="img/icon2.png" > BLOG</a>
                            <a href="/nosotros" class="nav-item nav-link footer_link"> <img src="img/icon2.png" > NOSOTROS</a>
                            <a href="/contacto" class="nav-item nav-link footer_link"> <img src="img/icon2.png"> CONTACTO</a>
                    </nav>
                    <div id="footer_contacto" class="d-flex justify-content-between">
                        <div id="footer_contacto_1" class="">
                            <span class="footer_contacto_titulo"> E-MAIL: <p class="footer_contacto_info"> mentalidadimpact@gmail.com </p>  </span>
                            <span class="footer_contacto_titulo"> TEL.: <p class="footer_contacto_info"> (52) 1 686 123-4567 </p>  </span>
                        </div>
                        <div id="footer_contacto_2" class="">
                            <a href="#" class="footer_fb"> </a> <a href="#" class="footer_tw"> </a> <a href="#" class="footer_inst"> </a> <a href="#" class="footer_yt"> </a>
                        </div>
                        
                        <div id="footer_contacto_3" class="">
                        <a href="/"> <img src="img/impactlogo.png"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </body>

    <!-- POPPER -->
    <script>
        $(document).ready(function(){
            $(".popper").hide();
        });
        $("#landing_boton1").hover(function(){
            $(".popper").fadeIn();
        },
        function(){
            $(".popper").fadeOut();
        });
    </script>

    <!-- SCROLL COLOR  -->
    <script>
    $(function () {
        $(document).scroll(function () {
            var $nav = $("#header_header");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    });
    </script>

    <!-- TESTIMONIOS JQUERY -->
    <script>
            $(document).ready(function(){

                /* TESTIMONIOS */
                var $testimonios = $(".landing_testimonios_center_container_content");
                var i = 0;
                
                $("#testimoniosright").on("click", function(){
                    if( i < 2 )
                    {
                        i = (i + 1);
                        $testimonios.removeClass("d-flex");
                        $testimonios.addClass("d-none");
                        $testimonios.eq(i).addClass("d-flex");
                        if(i == 1 || i == -1)
                        {
                            $testimonios.eq(i).css("background-image", "url('img/testimonio2.png')");
                            
                        }
                        if(i == 2)
                        {
                            $testimonios.eq(i).css("background-image", "url('img/testimonio3.png')");
                        }
                    }  
                });

                $("#testimoniosleft").on("click", function(){
                    if( i != 0)
                    {
                        i = (i - 1);
                        $testimonios.removeClass("d-flex");
                        $testimonios.addClass("d-none");
                        $testimonios.eq(i).addClass("d-flex");
                    }
                    
                });

                /* REGISTRO */
                $('#landing_boton1').on("click",function(){
                    swal(
                        'Aquí va el pop up de registro'
                    );
                });
                
                /* SCROLL */
                $('#landing_boton_contacto').click(function (){
                    $('html, body').animate({
                    scrollTop: $(".landing_division2").offset().top
                    }, 1000)
                });

                /* CARRUSEL DEPORTES */
                var $deportes = $(".landing_deportes_deportes");
                var a = 0;
                
                $("#deportesright").on("click", function(){
                    if( a < 5 )
                    {
                        a = (a + 1);
                        $deportes.removeClass("d-flex");
                        $deportes.addClass("d-none");
                        $deportes.eq(a).addClass("d-flex");
                    }  
                });

                $("#deportesleft").on("click", function(){
                    if( a != 0)
                    {
                        a = (a - 1);
                        $deportes.removeClass("d-flex");
                        $deportes.addClass("d-none");
                        $deportes.eq(a).addClass("d-flex");
                    }
                    
                });
             
            });
    </script>

<script>
        var ref = $('#landing_boton1');        
        var popup = $('.popper');
        popup.show();
        var popper = new Popper(ref,popup,{
                placement: 'bottom'
            });

        
</script>