<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<body>

  <div class="container-fluid">
 <%= render "header_landing" %>
    <!---    OVERLAY PRIMER Y SEGUNDO CONTAINER  ---->
    <div id="about_overlay">
      <img src="img/about_overlay.png" alt="about overlay" id="about_overlay_image">
      <!---    PRIMER CONTAINER  ---->
      <div id="about_primer_container">
        <div class="row text-center">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <!---   TITLE PRIMER CONTAINER  ---->
            <p id="about_title_primer_container">SOBRE NOSOTROS</p>
            <!---   DESCRIPCION PRIMER CONTAINER  ---->
            <p id="about_description_primer_container" >
              En Impact Training Systems desarrollamos tecnología para que todos los atletas puedan entrenar como profesionales. Todo atleta es capaz de cada día ser más fuerte, más rápido y mejorar sus habilidades atléticas para salir de la banca al campo de juego con todo su potencial. Nuestro programa de velocidad está basado en el sistema utilizado por Loren Seagrave, fundador de una de las mejores academias deportivas en Estados Unidos y colaborador para IMG Academy.
              <br>A través de nuestro sistema "Mentalidad Impact" queremos formar el movimiento más grande de deportistas en Latino America buscando cambiar la manera en que se preparan física y mentalmente.
            </p>
            <!---   BOTON PRIMER CONTAINER  ---->
            <a href="#target-element"><img src="img/about_mouse_icon.png" alt="mouse icon" class="animated infinite bounce slow img-fluid mx-auto d-block"></a>
          </div>
        </div>
      </div>

      <!---    SEGUNDO CONTAINER  ---->
      <section id="target-element"></section>
      <div class="row text-center" id="about_segundo_container">
        <div class="col-md-8 offset-md-2">
          <p class="about_red_title">NUESTRA FILOSOFÍA</p>
          <p id="about_description_segundo_container">
            Creemos que trabajando duro todo es posible. Nos hacemos responsables y tomamos control total de todo lo que está en nuestras manos, nuestra actitud y esfuerzo. Somos dedicados. Ponemos acciones en donde otros ponen excusas. Tomamos riesgos. Nos apoyamos mutuamente. Alimentamos las ganas de seguir creciendo. Contribuimos a algo más grande que nosotros mismos. No buscamos oportunidades, las creamos. Seguimos aprendiendo. Crecemos juntos. No solo lo pensamos, LO HACEMOS.
            <br>Nunca es tarde para empezar a vivir tu sueño…. #MENTALIDADIMPACT
          </p>
        </div>
      </div>

    </div>
    <!---    TERCER CONTAINER  ---->
    <div id="about_tercer_container">
      <div class="row text-center">
        <div class="col-md-6 offset-md-3">
          <p class="about_red_title">EL EQUIPO</p>
          <p id="about_subtitulo_tercer_container">MENTALIDAD IMPACT</p>
        </div>
      </div>
      <div class="d-flex flex-column">
        <!-- HECTOR VILDOSOLA -->
        <div class="d-flex about_persona">
          <div class="about_fotos" id="about_vildo"></div>
          <div class="about_infotodo">
            <div class="about_nombre"> MC. Hector Vildósola </div>
            <div class="about_puesto"> Fundador / Director Atlético </div>
            <div class="about_info">
              <br>
              <i>
              Hector cuenta con mas de 15 años de experiencia, egresado de la carrera de Negocios Internacionales de CETYS Universidad y Master in Exercise Science with emphasis in Sports and Health by Cal U Penn. Certified Strength and Conditioning Specialist por la NSCA
              (National Strength and Conditioning Association).
              </i>
              <br>
              <br>
              <b>Trabajo: </b>
              <br> - Encargado de Preparación Física y entrenador de los equipos de Baloncesto en Imperial Valley College en Imperial, CA.
              <br> - Preparador físico de la Selección Nacional
              Varonil de Baloncesto #12 GUERREROS en 2015 (Clasificatorio a Juegos Olímpicos)
              <br> - Entrenador asistente de la Selección Nacional Femenil de Baloncesto (Centro Basket en Islas Vírgenes en 2017 y FIBA Americup Buenos Aires, Argentina)
              <br>- Preparador
              físico del equipo de futbol americano de CETYS Universidad Categoría Varsity logrando 10 CAMPEONATOS EN 12 años
              <br> - Preparador Físico de Soles de Mexicali LNBP en 2008 (Campeones Zona Norte)
            </div>
          </div>
        </div>

        <!-- ADRIAN VILLALOBOS -->
        <div class="d-flex  about_persona2 justify-content-end">
            <div class="about_fotos2 justify-self-end" id="about_adrian"></div>
            <div class="about_infotodo d-flex flex-column">
              <div class="about_nombre"> Lic. Adrián Villalobos </div>
              <div class="about_puesto2"> Co-Fundador / Director Comercial </div>
              <div class="about_info2">
                <br>
                <i>
                Adrian cuenta con más de 10 años de experiencia, desde preparación física hasta cómo desarrollar al máximo la carrera deportiva de un jugador. Egresado de CETYS Universidad como Licenciado en Negocios Internacionales y con educación continua
                en liderazgo, mercadotecnia y ventas.
                </i>
                <br>
                <br>
                Como jugador, logró consagrarse campeón nacional en Orlando, FL en la liga Pop Warner categoría juvenil. Se ha desempeñado como asistente o entrenador de equipos representativos de Futbol Americano y Baloncesto con participación en
                etapas estatales, regionales y nacionales
              </div>
            </div>
          </div>

      <center>
          <div id="integrantes_soporte" class="container-fluid">

            <div class="row">
              <div class="col-12">
                <center>
                  <div>
                    <h2>Equipo de Desarrollo</h2>

                  </div>
                </center>
            </div>
              <div class="col-lg-4 col-sm-12">
                <div class="renglones_soporte container-fluid">
                  <div style="border-radius:5px; margin: 50px;padding: 20px;background-color: rgba(0,0,0,.6);" class="row">

                    <div class="col-12">
                    <i class="fas fa-code"></i>
                    <h4>Carlos Alberto Abril Lee</h4>
                      <p>
                        Un año y medio de experiencia de desarrollo y diseño web, Egresado de CETYS Universidad como Ingeniero en Diseño Gráfico Digital.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

    <div class="col-lg-4 col-sm-12">
                <div class="renglones_soporte container-fluid">
                  <div style="border-radius:5px; margin: 50px;padding: 20px;background-color: rgba(0,0,0,.6);" class="row">

                    <div class="col-12">
                    <i class="fas fa-code"></i>
                    <h4>Luis Daniel Leal</h4>
                      <p>
                        Un año y medio de experiencia de desarrollo y diseño web, Egresado de CETYS Universidad como Ingeniero en Diseño Gráfico Digital.
                      </p>
                    </div>
                  </div>
                </div>
              </div>


    <div class="col-lg-4 col-sm-12">
                <div class="renglones_soporte container-fluid">
                  <div style="border-radius:5px; margin: 50px;padding: 20px;background-color: rgba(0,0,0,.6);" class="row">

                    <div class="col-12">
                    <i class="fas fa-pen-nib"></i>
                    <h4>Alberto Lozano Castañeda</h4>
                      <p>
                        Un año y medio de experiencia de desarrollo y diseño web, Egresado de CETYS Universidad como Ingeniero en Diseño Gráfico Digital.
                      </p>
                    </div>
                  </div>
                </div>
              </div>





            </div>
          </div>
      </center>

      </div>
    </div>

    <!---    FOOTER CONTAINER  ---->
    <div id="footer_container" class="row">
      <div id="footer_contenido">
        <nav class="navbar navbar-expand-lg justify-content-center" id="footer_links">
          <a href="#" class="nav-item nav-link footer_link"> <img src="img/icon.png" > ATLETAS</a>
          <a href="/equipos" class="nav-item nav-link footer_link"> <img src="img/icon.png"> EQUIPOS</a>
          <a href="#" class="nav-item nav-link footer_link"> <img src="img/icon.png" > BLOG</a>
          <a href="/contacto" class="nav-item nav-link footer_link"> <img src="img/icon.png"> CONTACTO</a>
          <a href="https://mentalidadimpact.com/terminos.html" class="nav-item nav-link footer_link"> <img src="img/icon2.png"> TERMINOS Y CONDICIONES</a>
        </nav>
        <div id="footer_contacto" class="d-flex justify-content-between">
          <div id="footer_contacto_1" class="">
            <span class="footer_contacto_titulo"> E-MAIL: <p class="footer_contacto_info"> mentalidadimpact@gmail.com </p>  </span>
            <span class="footer_contacto_titulo"> TEL.: <p class="footer_contacto_info"> (52) 1 686 123-4567 </p>  </span>
          </div>
          <div id="footer_contacto_2" class="">
            <a href="#" class="footer_fb"> </a> <a href="#" class="footer_tw"> </a> <a href="#" class="footer_inst"> </a> <a href="#" class="footer_yt"> </a>
          </div>
          <div id="footer_contacto_3" class="">
            <a href="/"> <img src="img/impactlogo.png"> </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {

  $("#about_hector_cerrado").click(function() {
    $(this).removeAttr('style');
     $("#flecha_hector_abajo").attr("src","img/flecha_lado.png");
     $("#flecha_hector_abajo").attr("width","17px");
     $("#flecha_adrian_abajo").attr("src","img/flecha_abajo.png");
    $("#about_adrian_abierto").hide("blind", {direction: "left"}, 100);
    $("#about_adrian_cerrado").animate({height: "50%"}, 100);
    $("#about_hector_abierto").delay(200).show("blind", {direction: "left"}, 100);
    $(this).switchClass("offset-md-2", "offset-md-1", 100, "easeInOutQuad");
    $("#about_adrian_cerrado").switchClass("offset-md-2", "offset-md-1", 100, "easeInOutQuad");
  });
  $("#about_adrian_cerrado").click(function() {
    $(this).removeAttr('style');
    $("#flecha_adrian_abajo").attr("src","img/flecha_lado.png");
    $("#flecha_adrian_abajo").attr("width","17px");
    $("#flecha_hector_abajo").attr("src","img/flecha_abajo.png");
    $("#about_hector_abierto").hide("blind", {direction: "left"}, 100);
    $("#about_hector_cerrado").animate({height: "50%"}, 100);
    $("#about_adrian_abierto").delay(200).show("blind", {direction: "left"}, 100);
    $(this).switchClass("offset-md-2", "offset-md-1", 100, "easeInOutQuad");
    $("#about_hector_cerrado").switchClass("offset-md-2", "offset-md-1", 100, "easeInOutQuad");
  });

  // SMOOTH SCROLL EFFECT
  $('a[href*="#"]')
    // Remove links that don't actually link to anything
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      // On-page links
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
        location.hostname == this.hostname
      ) {
        // Figure out element to scroll to
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        // Does a scroll target exist?
        if (target.length) {
          // Only prevent default if animation is actually gonna happen
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function() {
            // Callback after animation
            // Must change focus!
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) { // Checking if the target was focused
              return false;
            } else {
              $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
              $target.focus(); // Set focus again
            };
          });
        }
      }
    });

});

  </script>
</body>
<!-- SCROLL COLOR  -->
<script>
  $(function () {
      $(document).scroll(function () {
          var $nav = $("#header_header");
          $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
  });
  </script>