/* ------------------------ CUENTA (SISTEMA) ------------------------ */

.sistema_cuenta_tarjeta{
  background-color: #313434;
  color: #fff;
  width: 22vw;
  height: 11vw;
  font-weight: bold;
  border-radius: 1vw;
  padding-left: 1vw;
  padding-right: .5vw;
  margin-right: 3.5vw;
}
#codigo_entrenador_input{
  border-radius:10px;
  border:1px solid red;
  background-color:#424242;
  color:white;
  font-family:lato;
  padding:10px;
}
.swal2-icon.swal2-info {
  border-color:red !important;
  color:#ff5050 !important;
}

#sistema_cuenta_paypal{
  background-image: url("../img/paypal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

#sistema_cuenta_paypal.sistema_cuenta_active{
  background-color: #2a38f5;
  box-shadow: 0 0 2vw #2a38f5;
}

.sistema_cuenta_borrar{
  background-size: 60%;
  background-image: url('../img/tacha.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #313434;
  width: 1.5vw;
  height: 1.5vw;
  border: .18vw solid #fff;
  border-radius: 100%;
  margin-left: 20vw;
  margin-top: -.4vw;
  cursor: pointer;
  transition: .5s;
  z-index: 5;
}

.sistema_cuenta_borrar:hover{
  background-color: #ff1d25;
  border-color: #ff1d25;
}

.sistema_cuenta_cerrar{
  background-size: 60%;
  background-image: url('../img/tacha.png');
  background-repeat: no-repeat;
  background-position: center;
  border: .18vw solid #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: .5s;
  z-index: 501;
  width: 2vw;
  height: 2vw;
  margin-top: -.9vw;
  margin-right: -3vw;
  margin-bottom: .8vw;
}

.sistema_cuenta_cerrar:hover{
  background-color: #ff1d25;
  border-color: #ff1d25;
}

.sistema_cuenta_marca, .sistema_cuenta_marcapaypal{
  background-size: contain;
  background-repeat: no-repeat;
  width: 7vw;
  height: 2.252vw;
}

.sistema_cuenta_marcapaypal{
  background-image: url('../img/paypal.png');
  margin-top: -.5vw;
}

.sistema_cuenta_numt, .sistema_cuenta_numtpaypal{
  margin-top: .5vw;
  font-size: 2vw;

}

.sistema_cuenta_numtpaypal{
  font-size: 1.5vw;
  margin-bottom: 2vw;
}

.sistema_cuenta_fechatxt {
  font-size: .8vw;
  line-height: .8vw;
}

.sistema_cuenta_num{
  font-size: 2vw;
  line-height: 1.6vw;
  margin-left: .5vw;
}

.sistema_cuenta_circulo{
  width: 1.5vw;
  height: 1.5vw;
  border: .12vw solid #fff;
  border-radius: 100%;
  align-self: flex-end;
  margin-bottom: .5vw;
  cursor: pointer;
  transition: .5s;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  opacity: .5;
}

.sistema_cuenta_circulo:hover{
  background-image: url('../img/circulo.png');
  opacity: 1;
}

.sistema_cuenta_circuloactive{
  background-image: url('../img/circulo.png');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  opacity: 1;
}

.sistema_cuenta_circuloactive:hover{
  background-image: url('../img/circulo.png');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  opacity: 1;
}


.sistema_cuenta_active{
  background-color: #ff1d25;
  box-shadow: 0 0 2vw #ff1d25;
}

.sistema_cuenta_agregar{
  background-image: url('../img/agregaricono.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: .4vw solid #fff;
  border-radius: 100%;
  width: 3.5vw;
  height: 3.5vw;
  transition: .5s;
  margin-bottom: 3vh;
}

.sistema_cuenta_agregar:hover{
  background-color: #ff1d25;
  box-shadow: 0 0 .5vw #ff1d25;
  border-color: #ff1d25;
  cursor: pointer;
  width: 4vw;
  height: 4vw;
}

.sistema_cuenta{
  height: 30vh;
}

.sistema_cuenta_detalles{
  width: 100%;
  height: 35%;
  font-weight: bold;
  font-size: 3vw;
  color: #fff;
}

.sistema_cuenta_estadoa{
  font-size: 3vw;
  font-weight: bold;
  margin-left: .8vw;
}

.sistema_cuenta_estado{
  width: 75%;
  height: 100%;
  border-radius: 1vw 0 0 0;
  background-color: #313434;
  align-items: center;
  padding-left: 2vw;
}

.sistema_cuenta_estadotxt{
  background-color: #ff1d25;
  height: 100%;
  width: 25%;
  border-radius: 0vw 1vw 0vw 0vw;
  font-size: .7vw;
  font-weight: normal;
  padding-right: 2vw;
  align-items: center;
  text-align: right;
  line-height: .7vw;
}

.sistema_cuenta_estadotxt_sus{
  padding-top: 1vw;
  flex-direction: column;
}

.sistema_cuenta_datos{
  width: 100%;
  height: 65%;
}

.sistema_cuenta_datosiz{
  background-color: #fff;
  width: 75%;
  padding: 1vw 2vw;
}

.sistema_cuenta_datosder{
  background-color: #fff;
  width: 25%;
  padding: 1vw 2vw 0 2vw;
  text-align: right;
}

.sistema_cuenta_datos_editar{
  color: #ff1d25;
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
}

.sistema_cuenta_datos_editar:hover, #sistema_cuenta_cancelar_txt:hover{
  text-shadow: 0 0 1vw #ff1d25;
}

#sistema_cuenta_agregartarjeta{
  width: 44vw;
  height: 23vw;
  background-color: #333333;
  border-radius: 1vw;
  position: fixed;
  left: 28vw;
  display: none;
  flex-direction: column;
  padding: 0vw 2vw 2vw 2vw;
  box-shadow: 0 0 100vw 50vw rgba(0,0,0,.9);
  z-index: 500;
}

#sistema_cuenta_agregartarjeta_top{
  flex-direction: row;
}


.sistema_cuenta_marcanueva{
  background-image: url('../img/visa.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 9vw;
  height: 2.895vw;
}

.sistema_cuenta_marcanuevamov{
  display: none;
}

.sistema_cuenta_input{
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  border-bottom: .15vw solid #ff1d25;
  font-weight: bold;
}

#cuenta_csv::placeholder{
  font-size: 2vw;
}

#cuenta_csv{
  width: 4vw;
  text-align: end;
  font-size: 2.2vw;
  line-height: 2.2vw;
}

#cuenta_nom{
  width: 45%;
  text-align: start;
  font-size: 1.2vw;
}

#cuenta_fechatxt::placeholder{
  font-size: 1.5vw;
}

#cuenta_fecha{
  width: 18%;
  font-size: 2.5vw;
  line-height: 2.5vw;
}

.cuenta_input_label{
  color: #fff;
  text-align: start;
  font-size: .5vw;
  line-height: .8vw;
  margin: 0;
  font-size: 1vw;
      line-height: 1vw;
}

.sistema_cuenta_agregartarjeta_mid, #cuenta_num{
  width: 100%;
  font-size: 4vw;
  line-height: 4vw;
}



#cuenta_num::placeholder{
  font-size:1.8vw;
}

.sistema_cuenta_elige{
  color: #fff;
  font-weight: bold;
  font-size: 1.5vw;
  text-shadow: 0 0 1vw #fff;
}

.sistema_cuenta_eligepaypal{
  margin-left: 25vw;
}

#cuenta_mod_correo, #cuenta_mod_num, #cuenta_mod_pass{
  color: #1e1e1e;
  margin-left: .5vw;
}

#cuenta_mod_correo::placeholder, #cuenta_mod_num::placeholder, #cuenta_mod_pass::placeholder{
  color: #ff1d25;
}

#cuenta_correo, #cuenta_nums, #cuenta_pass, #cuenta_codigo  {
  margin-left: .5vw;
}

.sistema_cuenta_tarjetas{
  flex-direction: row;
  width: 100%;
  height: auto;
}

.sistema_cuenta_tarjetas_division{
  width: 50%;
}



.sistema_cuenta_info{
  flex-direction: row;
}

.sistema_cuenta_estadotxt {
  flex-direction: row;
  justify-content: end;
}

.sistema_cuenta_cancelar{
  width: 100%;
  background-color: #fff;
  color: #ff1d25;
  border-radius: 0vw 0vw 1vw 1vw;
  text-align: left;
  padding: 0 2vw 2vw 2vw;
  font-weight: 600;
  font-size: 1rem;
}

#sistema_cuenta_cancelar_txt{
  cursor: pointer;
  transition: .2s;
}
.reanudar_suscripcion{
  background-color: red;
  color: white !important;
  font-family: lato;
  padding: 1vw 4vw;
  border-radius: 21px;
  margin: 11px 0;
}

.sistema_cuenta_contenedorfacturacion{
  background-color: #ff1d25;
  border-radius: 1vw;
  padding: 1vw;

}

.sistema_cuenta_facturacion_texto{
  color: #fff;
  font-size: 1.5vw;
  font-family: lato;
  font-weight: bold;

}

#sistema_cuenta_facturacion_texto_plan{
  font-size: 2.5vw;

font-family:lato;
font-weight: bold;
}

.sistema_cuenta_facturacion_texto_tit{
  font-weight: 300;
  font-size: 1vw;
  line-height: 2vw;

}

.sistema_cuenta_facturacion_texto_var{
  margin-left: .5vw;
  font-weight: bold;
  font-size: 2vw;
  margin-bottom: .5vw;
}

#sistema_cuenta_agregartarjeta_bot{
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width:  1090px) {
  #cuenta_num::placeholder, #cuenta_nombre::placeholder, #cuenta_fechatxt::placeholder, #cuenta_csv::placeholder, #cuenta_num::placeholder{
    font-size: 2vw;
  }

  #sistema_cuenta_agregartarjeta_top{
    flex-direction: column;
    order: 3;
    width: 100%;
  }

  #sistema_cuenta_agregartarjeta_mid{
    order: 1;
    flex-direction: column;
    width: 100%;
  }

  #sistema_cuenta_agregartarjeta_bot{
    order: 2;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
  }

  #sistema_cuenta_tarjetas{
      flex-direction: column;
      justify-content: center;
  }

  .sistema_cuenta_elige{
      font-size: 5vw;
      text-shadow: 0 0 5vw #fff;
      margin-bottom: 5vw;
      text-align: center;
  }

  .sistema_cuenta_tarjeta, #sistema_cuenta_paypal{
      width: 80vw;
      height: auto;
      border-radius: 2vw;
      padding-left: 3vw;
      padding-right: 2vw;
      margin-bottom: 5vw;
      margin-right: 0;
  }

  #sistema_cuenta_paypal:hover{
      cursor: pointer !important;
  }

  .sistema_cuenta_borrar{
      width: 8vw;
      height: 8vw;
      margin-left: 72vw;
      margin-top: -3vw;
  }
  .sistema_cuenta_marca{
      width: 25vw;
      height: 8.043vw;
  }

  .sistema_cuenta_numt{
      margin-top: 5vw;
      margin-bottom: 1vw;
  }

  .sistema_cuenta_numt, .sistema_cuenta_num{
      font-size: 8vw;
      line-height: 6.4vw;
  }

  .sistema_cuenta_num{
      margin-top: 2vw;
      margin-left: 3vw;
      width: 100%;
  }
  .sistema_cuenta_fechatxt{
      font-size: 4vw;
      line-height: 4vw;
      margin-top: 2vw;
      width: 100%;
  }

  .sistema_cuenta_circulo{
      width: 8vw;
      height: 8vw;
      margin-bottom: 2vw;
      margin-top: 2vw;
  }

  .sistema_cuenta_agregar{
      width: 15vw;
      height: 15vw;
      border: 1.5vw solid #fff;
  }

  .sistema_cuenta_agregar:hover{
      width: 17.143vw;
      height: 17.143vw;
      border-color: #ff1d25;
  }

  .sistema_cuenta{
      width: 100%;
      height: auto;
  }

  .sistema_cuenta_info{
      flex-direction: column;
      font-size: 4vw;
      line-height: 6vw;
  }

  .sistema_cuenta_datos_editar{
      font-size: 2.5vw;
      line-height: 2.5vw;
      text-align: center;
  }

  .sistema_cuenta_datosiz{
      padding: 8vw 2vw;
  }

  .sistema_cuenta_estado{
      font-size: 5vw;
  }

  .sistema_cuenta_estadotxt_sus{
      flex-direction: column;
      padding: 0;
      text-align: left;
      margin-bottom: 1vw;
  }
  .sistema_cuenta_estadotxt {
      flex-direction: column;
      justify-content: center;
      font-size: 2vw;
      line-height: 2vw;
      align-items: center;
      padding: 0;
  }

  .sistema_cuenta_estadoa{
      font-size: 4vw;
      line-height: 4vw;
  }

  .sistema_cuenta_agregar{
      margin-bottom: 5vw;
  }

  #sistema_cuenta_agregartarjeta{
      width: 80vw;
      height: auto;
      left: 10vw;
      top: 28vw;
      padding: 3vw;
      font-weight: bold;
  }

  #cuenta_num{
      font-size: 5vw;
      line-height: 5vw;
      order: 2;
      width: 100%;
      margin-bottom: 4vw;
      display: flex;
      flex-direction: row;
      align-items: center;

  }

  #cuenta_fecha, #cuenta_nom{
    width: 100%;
  }

  #cuenta_csvv{
    width: 100%;
  }

  #cuenta_nombre, #cuenta_fechatxt{
      font-size: 5vw;
      line-height: 5vw;
      order: 2;
      margin-bottom: 4vw;
  }

  .sistema_cuenta_input{
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    border: none;
    border: .15vw solid #ff1d25;
    font-weight: bold;
    border-radius: 1vw;
    padding: 1.5vw;
  }

  .sistema_cuenta_input::placeholder{
      font-size: 2vw;
  }

  .sistema_cuenta_marcanueva{
    display: none;
  }

  .sistema_cuenta_marcanuevamov{
    display: flex;
font-family:lato;
color:white;
margin:0 10px 25px 10px;
  }

  .sistema_p_botoncredito{
      height: 6vw;
      font-size: 3vw;
      margin-top: 3vw;
      margin-bottom: 2vw;
  }

  .cuenta_input_label{
      margin-top: 0vw;
      margin-bottom: 1.5vw;
      font-size: 3vw;
      line-height: 3vw;
  }

  .sistema_cuenta_cerrar{
      width: 8vw;
      height: 8vw;
      top: 50vw;
      margin-right: -6vw;
      margin-top: -5vw;
      margin-bottom: 2vw;
  }

  #cuenta_csv{
      font-size: 5vw;
      line-height: 5vw;
      order: 2;
      width: 100%;
      text-align: start;
      margin-bottom: 4vw;
  }

  #cuenta_mod_correo::placeholder, #cuenta_mod_num::placeholder, #cuenta_mod_pass::placeholder{
      font-size: 3vw;
  }
  .sistema_cuenta_tarjetas{
      flex-direction: column;
  }
  .sistema_cuenta_tarjetas_division {
      width: 100%;
      justify-content: center;
      flex-direction: column;
  }

  .sistema_cuenta_contenedorfacturacion{
      width: 100%;
      padding: 3vw;
      margin-bottom: 5vw;
  }


  #sistema_cuenta_facturacion_texto_plan{
      font-size: 8vw;
  }

  .sistema_cuenta_facturacion_texto_tit{
      font-size: 4vw;
      line-height: 6vw;

  }

  .sistema_cuenta_facturacion_texto_var{
      font-size: 6vw;
      margin-bottom: 3vw;
  }

  #sistema_cuenta_cancelar_txt{
      font-size: 3vw;
  }
}
