body {
  height: 100%;
  color: #1e1e1e !important;
  background-color: #111111 !important;
}

#filtro_jugadores {
  border-radius: 5vw;
  border: 1px solid grey;
  font-family: lato;
  width: 50%;
  text-align: center;
  height: 50px;
  transition: all .5s;
  vertical-align: middle;
}

.fecha_cobro,
.fecha_intro,
.estado_usuario {
  font-size: 1.5vw;
}

.id_usuario {
  margin: 0;
  font-size: 1.5vw;
}

.imagen_jugador {
  background-size: contain;
  width: 7vw;
  height: 7vw;
  margin: 20px;
  border-radius: 100%;
}

#filtro_jugadores::placeholder {
  font-family: lato;
  display: inline-block;
  color: #d1d1d1;
  vertical-align: middle;
}

.contenedor_acciones_controlador_jugadores {
  float: right;
  margin: 25px 0;
}

.contenedor_acciones_controlador_jugadores i:hover {
  color: red;
  cursor: pointer;
}

.contenedor_acciones_controlador_jugadores i {
  transition: all .5s;
  font-size: 2vw;
  vertical-align: middle;
  margin: 0 5px;
  display: inline-block;
}

.deporte_jugadores {
  font-size: 1.3vw;
  font-weight: bold;
  margin: 0;
}

.posicion_jugadores {
  font-size: 1.3vw;
  margin: 0;
}

.correos_usuario {
  margin: 0;
  font-size: 2vw;
}

.nombre_usuario {
  font-weight: bold;
  margin: 0;
  font-size: 2vw;
}

.escuela_jugador {
  font-size: .7vw;
  margin: 0;
}

.aliniar_contenido_tabla {
  text-align: center;
}

.iconos_ajustes_tabla_jugadores i {
  font-size: 2vw;
  transition: all .5s;
  margin: 0 8px;
}

.usuario_activo {
  color: rgb(48, 245, 48);
  text-shadow: 0 0 10px rgb(48, 245, 48);
}

.usuario_inactivo {
  color: red;
  text-shadow: 0 0 10px red;
}

.row_hover {
  background-color: #333333;
  transition: all .2s;
  cursor: pointer;
}

.contenedor_tabla_jugadores {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}

table {
  border-spacing: 10px;
}

table thead tr th {
  background-color: red;
  padding: 15px 0;
  color: white;
  font-family: lato;
  font-size: 1.3vw;
  transition: all .5s;
}

table tbody tr td {
  padding: 10px 0;
  color: white;
  font-family: lato;
  transition: all .5s;
}

table tbody tr:hover {
  background-color: #3e3e3e;
}

@media (max-width: 795px) {
  .switch {
      transform: scale(1);
  }
  .imagen_jugador {
      width: 10vw;
      margin: 10px;
      height: 10vw;
  }
  .iconos_ajustes_tabla_jugadores i {
      font-size: 5vw;
      transition: all .5s;
      padding: 15px 0;
  }
  .columna_eliminada {
      display: none;
  }
  .correos_usuario {
      font-size: 2.5vw;
      transition: all .5s;
  }
  .posicion_jugadores {
      font-size: 3vw;
  }
  .deporte_jugadores {
      font-size: 3vw;
  }
  .escuela_jugador {
      font-size: 1.5vw;
  }
  table tbody tr td {
      font-size: 3vw;
      padding: 0;
      transition: all .5s;
  }
  table thead tr th {
      padding: 5px 0;
      transition: all .5s;
      color: white;
      font-size: 3.5vw;
  }
  .contenedor_tabla_jugadores {
      border-radius: 5px;
  }
  #filtro_jugadores {
      height: 25px;
  }
  .contenedor_acciones_controlador_jugadores {
      margin: 5px 0;
  }
  .contenedor_acciones_controlador_jugadores i {
      font-size: 4vw;
      vertical-align: middle;
      margin: 0;
      display: inline-block;
  }
}

#agregar_jugador {
  border-radius: 25px;
  border: 1px solid grey;
  height: 35px;
  font-family: lato;
}

#agregar_jugador::placeholder {
  font-family: lato;
}


/* ------------------------ SWITCH ------------------------------ */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 15px 0;
  transform: scale(1.5);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgba(255, 0, 0, 0.829);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}   