/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate
 *= require header_menu
 *= require dashboard
 *= require routines
 *= require accounts
 *= require profiles
 *= require_self
 */

.swal2-popup{
  background-color: #333 !important;
  border-radius: 1vw;
}

.swal2-title {
  color: #fff !important;
}

.swal2-styled.swal2-confirm{
  color: #ff1d25 !important;
  background-color: #fff !important;
}

.swal2-content{
  color: #fff !important;
}

.swal2-icon.swal2-success{
  border-color: #fff;
}

.swal2-icon.swal2-warning{
  border-color: rgba(255, 29, 37, .5) !important;
  color: #ff1d25 !important;
}

.swal2-icon.swal2-success [class^="swal2-success-line"]{
  background-color: #ff1d25;
}

.swal2-icon.swal2-success .swal2-success-ring{
  border: .25em solid rgba(255, 29, 37, .5) !important;
}