// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sistema_db_container {
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  background-color: #191a1a;
  padding: 2vw 2vw 2vw 2vw;
  justify-content: space-between;
  overflow-y: scroll;
}
.regreso_dashboard{
  color: white;
 vertical-align: middle;
 font-size:3vw;
 margin-right:3vw;
 transition:all .5s;
 display:inline-block;
}
.regreso_dashboard:hover{
  color:red;
}
/* overlay solamente cuando no hay contenido */
.overlay_grafica{
  background-color:black;
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  right:0;
  bottom:0;
  opacity:.65;
}
 /* mensaje dentro de overlay */
 .mensaje_overlay{
  border-radius:15px;
  padding:10px;
  background-color:rgb(22, 22, 22);
  z-index: 1000;
  font-family: lato;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center; /* not part of solution */
 }
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.texto_mobile_menu{
  font-weight: bold;
}
/*363636*/
.iconos_mobile{
  color:white;
  margin:0 0 0 35px;
  font-size:6vw;
  vertical-align: middle;
}
#contenedor_entrenador_institucion{
  color:white;
  font-family:lato;
  font-size:1.5vw;
}
.entrenador_institucion{
  font-weight:bold;
  font-size:2vw;
  margin:0px 10px;
  color:red;
  text-shadow: 0 0 5px red;
}

.overlay_graph{
  box-shadow:#0a0a0a;
  background-color:black;
  position:absolute;
  height:100%;
  top:0;
  width:100%;
  left:0;
  opacity:.65;
}
.burger_menu{

}
.mensaje_overlay_graph{
  border-radius:15px;
  padding:10px;
  background-color:rgb(22,22,22);
  z-index:1000;
  font-family:lato;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}
.sistema_db_info_superior {
  width: 100%;
  background-color: #363636;
  height: auto;
  color: white;
  border-radius: 1vw;
  padding: 2vw 1.5vw;
  margin: 2vw 0;
  box-shadow: 0 0 25px #131313;
  flex-direction: row;
}

.sistema_db_info_grafica {
  position:relative;
  background-color: #363636;
  width: 61%;
  border-radius: 1vw;
  color: white;
  overflow:hidden;
  padding: 2.5vw;
  box-shadow: 0 0 25px #131313;
}

.sistema_db_info_tabla {
  background-color: #363636;
  box-shadow: 0 0 25px #131313;
  border-radius: 1vw;
  width: 35%;
  position:relative;
  overflow: hidden;
  color: white;
  padding: 2.5vw 0;
}

#sistema_db_entradas {
  width: 100%;
  color: red;
  text-shadow: 0 0 2px rgb(255, 36, 36);
  text-align: center;
}

#sistema_db_entradas tr {
  border-bottom: 1px solid #7c7c7c;
  padding: 15px 0;
  cursor: pointer;
}

#sistema_db_entradas tr:hover {
  background-color: #3e3e3e;
  font-weight: bold;
}

#sistema_db_entradas th {
  font-family: lato;
  font-weight: 600;
  padding: 7px 0;
  font-size: 1.6vw;
}

#sistema_db_entradas td {
  color: white;
  font-family: lato;
  font-weight: lighter;
  padding: 7px 0;
  font-size: 1.1vw;
}

.sistema_info_three_containers {
  text-align: center;
  width: 100%;
  transform: scale(.95);
}

.sistemas_p_numero {
  color: #ff1d25;
  font-size: 5.7vw;
  line-height: 5vw;
  text-shadow: 0 0 20px red;
  font-weight: bold;
  margin-left: 1vw;
}

.sistemas_p_numerogris {
  color: #6f6768;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 1.9vw;
}

.sistema_p_ejericios {
  font-size: 1vw;
  line-height: 1vw;
  font-weight: bold;
  text-align: right;
}

.progress {
  background-color: #6f6768 !important;
  height: .5vw !important;
  margin-top: .5vw;
}

.progress-bar {
  background-color: #ff1d25 !important;
}

.sistema_lineadiv {
  height: 100%;
  width: .2vw;
  background-color: #414141;
  margin: 0 5vw 0 5vw;
}

.sistema_p_etapa {
  font-size: 1vw;
  line-height: 1vw;
  font-weight: bold;
  text-align: left;
}

.sistema_p_etapanombre {
  font-size: 4vw;
  line-height: 3.8vw;
  color: red;
  text-align: left;
  font-weight: bold;
  text-shadow: 0 0 20px red;
}

.sistema_p_etapanombre{
  font-size: 4vw;
  line-height: 4vw;
  text-align: center;
  margin-bottom: 1vw;
}

.db_contenedor_segundafila {
  flex-direction: row;
}

.sistema_etapa {
  font-size: 2.3vw;
  line-height: 2.6vw;
}

@media (max-width: 991.98px) {
  .regreso_dashboard{
    font-size:8vw;
  }
  .mensaje_overlay{
    font-size:3vw;
  }
#contenedor_entrenador_institucion{
  font-size:3.5vw;
  margin:5vw 0;
}
.entrenador_institucion{
  font-size:4.2vw;
}
  .sistema_db_container{
    flex-direction: column;
    align-items: center;
    padding: 10vh 8vw 5vh 8vw;
    height: auto;
    overflow: hidden;
  }

  .sistema_p_ejericios{
    font-size: 4vw;
    line-height: 4vw;
    margin-right: 2vw;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sistema_d_entrenamientos{
      margin-right: 2vw;
  }

  .sistema_etapa {
    font-size: 4vw;
    line-height: 4vw;
    text-align: center;
    margin-bottom: 1vw;
  }

  .progress {
    background-color: #6f6768 !important;
    height: 2.5vw !important;
    margin-top: 1vw;
  }

  .sistema_info_three_containers {
      transform: scale(1);
  }
  .sistema_db_info_superior {
      flex-direction: column !important;
      padding: 4vw;
      margin:5vw 0;
  }
  .db_contenedor_segundafila {
      flex-direction: column;
  }

  .sistema_db_info_grafica {
      width: 100% !important;
      margin: 6vw 0;
  }

  .sistema_db_info_tabla {
      width: 100% !important;
      margin: 20px 0;
  }
  .sistema_info_three_containers {
      margin: 5px 0;
  }

  #sistema_db_entradas th {
      font-size: 4vw;
  }
  #sistema_db_entradas td {
      font-size: 3vw;
  }
  .sistema_db_info_tabla h1 {
      font-size: 5vw !important;
  }
}

#filtro_jugadores {
  border-radius: 5vw;
  border: 1px solid grey;
  font-family: lato;
  width: 50%;
  margin:0 0 4vw 0;
  text-align: center;
  height: 50px;
  transition: all .5s;
  vertical-align: middle;
}

.adminsearch{
  font-size: 2vw;
  margin-left: 2vw;
  padding-top: 1vw;
  color: white;
  opacity: .6;
  transition: .5s;
  cursor: pointer;
}

.adminsearch:hover{
  color: red;
  opacity: 1;
}

.imagen_jugador {
  background-size: contain;
  width: 7vw;
  height: 7vw;
  margin: 20px;
  border-radius: 100%;
}

#filtro_jugadores::placeholder {
  font-family: lato;
  display: inline-block;
  color: #d1d1d1;
  vertical-align: middle;
}


.cantidad_jugadores{
  color:grey;
  display: table-cell;
  vertical-align: middle;
  padding: 42px;
  font-family:lato;
}
.deporte_jugadores {
  font-size: 1.3vw;
  font-weight: bold;
  margin: 0;
}

.posicion_jugadores {
  font-size: 1.3vw;
  margin: 0;
}

.correos_jugadores {
  font-size: 1.3vw;
  margin: 0;
}

.nombre_jugador {
  font-weight: bold;
  margin: 0;
}

.escuela_jugador {
  font-size: .7vw;
  margin: 0;
}

.aliniar_contenido_tabla {
  text-align: center;
}


.iconos_ajustes_tabla_jugadores i {
  font-size: 2vw;
  transition: all .5s;
  margin: 0 8px;
}

#tabla_lista_miembros{
  width:100%;
  border-radius:10px;
  overflow: hidden;
}
#tabla_lista_miembros tr:hover{
  background-color:#333333 !important;
}

table {
  border-spacing: 10px;
}

table thead tr th {
  background-color: red;
  padding: 15px 0 15px 15px;
  color: white;
  font-family: lato;
  font-size: 1.3vw;
  transition: all .5s;
}

table tbody tr td {
  padding: 10px 0 0 10px;
  color: white;
  font-family: lato;
  font-size: 1vw;
  transition: all .5s;
}

table tbody tr:hover {
  background-color: red !important;
}

@media (max-width: 795px) {


  .sistema_p_etapa{
    font-size: 4vw;
    line-height: 4.5vw;
    padding-top: .65vw;
    text-align: center;
  }
  .imagen_jugador {
      width: 10vw;
      margin: 10px;
      height: 10vw;
  }
  .iconos_ajustes_tabla_jugadores i {
      font-size: 5vw;
      transition: all .5s;
      padding: 15px 5px;
  }
  .columna_eliminada {
      display: none;
  }
  .correos_jugadores {
      font-size: 2.5vw;
      transition: all .5s;
  }
  .posicion_jugadores {
      font-size: 3vw;
  }
  .deporte_jugadores {
      font-size: 3vw;
  }
  .escuela_jugador {
      font-size: 1.5vw;
  }
  table tbody tr td {
      font-size: 3vw;
      padding: 0;
      transition: all .5s;
  }
  table thead tr th {
      padding: 5px 0;
      text-align:center;
      transition: all .5s;
      color: white;
      font-size: 3vw;
  }

  #filtro_jugadores {
      height: 35px;
  }

  .cantidad_jugadores{
    color:grey;
    margin-top:80px;
    display:block;
    vertical-align: middle;
    padding: 0;
    font-family:lato;
  }
}


#exercise_graph{
  border-radius:5px;
  border:1px solid red;
  background-color:transparent;
  color:white;
  font-family:lato;
  padding:5px 0;
  text-align: center;
}


#exercise_graph option{
  color:grey;
  font-family:lato;
}
/* ------------------------------------------------------ */