html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  color: #1e1e1e !important;
  background-color: #1e1e1e !important;
}

.body_sistema{
  overflow-y: hidden;
}


#menu_administrador_mobile{
  background-color:red;
}
.menuVertical {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 5%;
  background-color: #3e3e3e;
  color: White !important;
  overflow: hidden;
  z-index: 1;
}

.reduce_sidecontainer {
  width: 15%;
  transition: all .5s;
}

.sistema_section_container {
  display: inline-block;
  color: grey;
}

.menuVertical i {
  font-size: 30px;
  margin: 25px;
}

.seccion_menu_left:hover {
  background-color: Red;
  cursor: pointer;
  box-shadow: 0 0px 50px red;
}

.sistema_left_icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin: 25px 25px 25px 15px;
}
.sistema_mobile_menu{
  background-color:#363636;
  z-index: 100;
  position:fixed;
  width:100%;
}

.seccion_menu_left h3 {
  font-family: lato;
  vertical-align: middle;
  font-size: 2vh;
  font-weight: bold;
  margin: 0 50px 0 0;
}

.hide_text_menu {
  transition: all .5s;
  transform: scale(1) !important;
}

.display_text_menu {
  display: inline-block !important;
}

.sistema_descripcion_menu {
  transition: all .5s;
  transform: scale(0);
  transform-origin: left;
  display: none;
}

.header {
  background-color: #3e3e3e;
  height: 80px;
  width: 100%;
  display: block;
  position: fixed;
  color: white;
}

@media only screen and (max-width: 1092px) {

  .menuVertical {
      display: none;
  }
  .sistema_mobile_menu {
      display: block !important;
  }
  .subbanners_sistema_menu {
      display: none !important;
  }

  .sistema_container {
    height: auto;
    float: none;
  }
  .body_sistema{
    overflow-y: auto;
  }
}


/* menu cellphone CSS*/

.sistema_mobile_menu {
  display: none;
}

.burger_menu_mobile {
  display: inline-block;
  float: right;
  margin: 2px;
  width:4vw;
  height:4vw;
  transition: all .5s;
  cursor: pointer;
}

.burger_menu_mobile:hover {
  transform: scale(1.2);
}

.titulo_mobile_header {
  font-family: lato;
  color: white;
  font-size: 5vw;
  text-align: left;
  text-shadow: 0 0 5px white;
  font-weight: bold;
}

#menu_mobile_desplegado{
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  z-index: 20;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .2s
}

.desplegado {
  transform: scaleY(1) !important;
}

#menu_mobile_desplegado li a {
  color: white;
  text-decoration: none;
  font-family: Lato;
  margin-left: 15px;
  font-size: 5vw;
  vertical-align: middle;
}

#menu_mobile_desplegado li:hover {
  background-color: red !important;
  box-shadow: 0 0 15px red;
}

#menu_mobile_desplegado li {
  padding: 13px 0;
  font-weight: bold;
  border-top:1px solid #363636;
  border-bottom: 1px solid #363636;
}

.subbanners_sistema_menu {
  width: 100%;
}

.sistema_banner h2 {
  font-family: lato;
  font-weight: bold;
  color: White;
  text-shadow: 0 0 10px white;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: .5vw;
}

.sistema_banner {
  display: block;
  width: 100%;
  height: 3.8vw;
  position: relative;
}
#descansa_icono{
  width: 25vw;
  margin: 4vw 0;
  opacity: .5;
}

.sistema_container {
  display: inline-block;
  position: relative;
  float: right;
  height:100%;
  width: 95%;
  background-color: #202020;
  transition: all .5s;
}

.sistema_container_reduce {
  width: 85% !important;
}

#sistema_cerrarsesion{
  background-color: #ff1d25;
  padding: 1vw;
  font-weight: bold;
  border-radius: .2vw;
  margin-top: 5vw;
  vertical-align: middle;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
}

#sistema_cerrarsesion:hover{
  box-shadow: 0 0 2vw #ff1d25;

}

#sistema_cerrarsesionalign{
  text-align: center;
}

@media only screen and (max-width: 1092px) {
  .sistema_container {
    height: auto;
    float: none;
    justify-content: center;
    width: 100%;
  }

  #descansa_icono{
    width: 80vw;
    margin: 4vw 0;
    opacity: .5;
  }

  .pillow_txt {
    font-size: 10vw !important;
    line-height: 10vw;
  }
  .descansa_movil{
    height: 100vh;
  }
}
/* DASHBOARD */