/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate
 */

* {

  margin:0;

  padding:0;

  }
  .landing_normal{
    display:block;
  }

html, body {
  height: 100% !important;
  width: 100%;
  color: #1e1e1e;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  overflow-x: hidden !important;
  display: block;
}

.progress{
  background-color: #6f6768 !important;
  height: .5vw !important;
  margin-top: .5vw;
  border-radius: 0px !important;
}

.barra_activa{
  background-color: #e5e5e5 !important;
}


.progress-bar{
  background-color: #ff1d25 !important;
}

#barra_entrenamientos{
  width: 85%;
}

#barra_etapa{
  width: 20%;
}

#barra_warmup{
  width: 100%;
}

#barra_tricerie{
  width: 28%;
}

#barra_finisher{
  width: 0%;
}

body{
  font-family: 'Lato', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #1E1E1E;
}

.content{
  color: #fff;
}

.containerb{
  overflow: hidden;
}

.icon {
  padding: 10px;
  background: #ff1d25;
  color: white;
  min-width: 40px;
  text-align: center;
}


textarea{
  width: 100%;
  border-style: solid;
  border-color: #ff1d25;
  border-width: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.popper{
  color: #fff;
  font-weight: bold;
  font-size: 1.2vw;
  line-height: 3vw;
  text-shadow: 0 0 .5vw #000;
}

.swal2-popup{
  background-color: #333 !important;
  border-radius: 1vw;
}

.swal2-title {
  color: #fff !important;
}

.swal2-styled.swal2-confirm{
  color: #ff1d25 !important;
  background-color: #fff !important;
}

.swal2-content{
  color: #fff !important;
}

.swal2-icon.swal2-success{
  border-color: #fff;
}

.swal2-icon.swal2-warning{
  border-color: rgba(255, 29, 37, .5) !important;
  color: #ff1d25 !important;
}

.swal2-icon.swal2-success [class^="swal2-success-line"]{
  background-color: #ff1d25;
}

.swal2-icon.swal2-success .swal2-success-ring{
  border: .25em solid rgba(255, 29, 37, .5) !important;
}

.swal2-footer{
  text-align: center !important;
}

body.swal2-height-auto{
  height: 100% !important;
}

.bg-dark{
  background-color: #333333 !important;
}

.sistema_container {
  position: relative;
  float: right;
  height: 100%;
  width: 95.8%;
  transition: all .5s;
}

.scrolled{
  background-color: rgba(0, 0, 0, .7) !important;
}

@media only screen and (max-width: 1090px) {
  .progress{
      height: 1vw !important;
      margin-top: 2vw;
  }

  .sistema_container{
      height: auto !important;
      float: none !important;
      justify-content: center;
      width: 100%;
  }
    .landing_normal{
      display:none;
    }
    .popper{
      font-size: 3vw;
      line-height: 6vw;
    }

}





/* ------------------------ HEADER ------------------------ */
#header_header{
  display: block;
  position: fixed;
  width: 100%;
  padding-top: .5%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: .5%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s;
}

#navbarNavAltMarkup{
  float: right;
  padding-top: 18px;
}


.header_link{
  display: inline-block;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 40px;
  margin-left: 2.5px;
  text-shadow: 0px 0px 15px #ffffff;
  transition: 0.5s;
  color: #fff;
}

.header_login{
  text-decoration: none;
  font-weight: 300;
  color: #ff1d25;
  border-style: solid;
  border-width: 1px;
  border-color: #ff1d25;
  width: 94px;
  transform: skew(-10deg);
  background-color: rgba(255, 29, 37, 0);
  box-shadow: 0px 0px 15px #ff1d25;
  transition: 0.5s;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.header_login p{
  font-size: 15px;
  padding: 0 0 0 0 ;
  margin: 0 0 0 0;
  transform: skew(10deg);
  text-shadow: 0px 0px 15px #ff1d25;

}

.header_link:hover{
  text-decoration: none;
  color: #ff1d25;
  text-shadow: 0px 0px 5px #ff1d25;
}

.header_login:hover{
  background-color: rgba(255, 29, 37, 1);
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0px 0px 30px #ff1d25;
}

.header_link img{
  padding-bottom: 4px;
  height:1.5vw;
}


.navbar-toggler-icon{
  color: #ffffff;
}

@media only screen and (max-width: 1090px) {
  .container-fluid{
     margin: 0 0 0 0 !important;
     padding: 0 0 0 0 !important;
  }


.navbar-nav .nav-link {
  padding: 3vw 0;
  font-size: 4vw;

}
  #header_header{
      display: block;
      width: 100%;
      padding: 10px 0 0 0px;
      margin: 0 0 0 0;
      background-color: #333333;

  }

  #navbarNavAltMarkup{
      float: none;
      background-color: #333333;
      margin: 0 0 0 0;
      padding: 0 0 0 0;

  }

  .navbar-brand img{
    height:10vw;
    margin-left:6vw;
  }

  #nav_icon{
      margin-left: 5%;
      padding: 0 4vw;
      height:6vw;
  }
  .header_link{
      width: 100%;
      margin-left: 0px;
      letter-spacing: 1px;
      border-bottom: 2px solid #131313;
  }

  .header_link a{
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      font-size: 15px;
  }

  .header_link:hover{
      color: #ff1d25;
  }

  .header_link img{
      margin-right: 5px;
      padding-left: 20px;
      height:4vw;
  }

  .header_login{
      font-weight: bold;
      color: #fff;
      border-width: 0px;
      width: 100%;
      transform: skew(0deg);
      background-color: #ff1d25;
      box-shadow: 0px 0px 0px #ff1d25;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
  }

  #sistema_cerrar{
      padding: .5rem 1rem;
  }


  .header_login p{
      font-size: 3vw;
      padding: 0 0 0 0 ;
      margin: 0 0 0 0;
      transform: skew(00deg);
      text-shadow: 0px 0px 0px #ff1d25;

  }

}

/* ------------------------ FOOTER ------------------------ */
#footer_container{
  height: 330px;
  background-color: #1E1E1E;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 56px;
  padding-right: 56px;
}

#footer_contenido{
  border-style: solid;
  border-width: 2px;
  border-color: #ff1d25;
  width: 100%;
  padding-left: 63px;
  padding-right: 63px;
  padding-top: 25px;
  padding-bottom: 63px;
}


.footer_link{
  display: inline-block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 0px 12px #ffffff;
  transition: 0.5s;
}

.footer_link:hover{
  text-decoration: none;
  color: #ff1d25;
  text-shadow: 0px 0px 5px #ff1d25;
}

.footer_link img{
  padding-bottom: 4px;
}
#footer_contacto{
  width: 100%;
  height: 52px;
  margin-top: 2%;
}


#footer_contacto_1, #footer_contacto_2, #footer_contacto_3 {
  display: inline-block;
  position: relative;
}

#footer_contacto_2{
  margin-right: 90px;
}



.footer_contacto_titulo{
  display: block;
  position: relative;
  color: #ff1d25;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

.footer_contacto_info{
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

.footer_fb, .footer_inst, .footer_tw, .footer_yt{
  position: relative;
  display: inline-block;
  width: 52px;
  height: 52px;
  border-style: solid;
  border-width: 2px;
  border-radius: 52px;
  border-color: #ff1d25;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
  transition: .3s;
}

.footer_fb:hover, .footer_inst:hover, .footer_tw:hover, .footer_yt:hover {
  background-color: #ff1d25;

}

.footer_fb{
  background-image: url('../img/fb2.png');
}
.footer_fb:hover{
  background-image: url('../img/fb3.png');
}
.footer_tw{
  background-image: url('../img/tw2.png');
}
.footer_tw:hover{
  background-image: url('../img/tw3.png');
}
.footer_inst{
  background-image: url('../img/inst2.png');
}
.footer_inst:hover{
  background-image: url('../img/inst3.png');
}
.footer_yt{
  background-image: url('../img/yt2.png');
}
.footer_yt:hover{
  background-image: url('../img/yt3.png');
}

@media only screen and (max-width: 1090px) {

  .footer_contacto_titulo{
    font-size: 2.5vw;
    margin-bottom: 1vw;
  }
  
  .footer_contacto_info{
    font-size: 2.5vw;
    margin-bottom: 1vw;
  }
  
  .footer_fb, .footer_inst, .footer_tw, .footer_yt{
    position: relative;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-style: solid;
    border-width: 2px;
    border-radius: 52px;
    border-color: #ff1d25;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15px;
    transition: .3s;
  }
  /* FOOTER */
  #footer_links{
      display: none;
  }

  .footer_fb, .footer_inst, .footer_tw, .footer_yt{
      width: 10vw;
      height: 10vw;
      border-style: solid;
      border-width: .5vw;
      border-radius: 100%;
      border-color: #ff1d25;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 1.5vw;
      margin-right: 1.5vw;
      transition: .3s;
  }

  .footer_fb{
    background-size: 30%;
  }

    .footer_inst, .footer_tw, .footer_yt{
    background-size: 60%;
}

  #footer_container{
      height: auto;
      padding: 2vw 10%;
  }

  #footer_contenido{
      width: 100%;
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: 3vw;
      padding-bottom: 3vw;
      height: 32vw;
      display: flex;
      flex-direction: column;
  }
  #footer_contacto_1, #footer_contacto_2, #footer_contacto_3 {
      width: 100%;
      display: block;
      position: relative;
  }
  #footer_contacto_2{
      margin-right: 0px;
      width: 100%;
  }
  #footer_contacto_3{
      display: none;
  }
  #footer_contacto{
      flex-wrap: wrap;
      text-align: center;
  }
}



/* ------------------------ LANDING ------------------------ */
#landing_body{
  background-image: url('../img/stock3.png');
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
}

#landing_texto_titulo, #landing_botones_titulo{
 margin-left: 9%;
}

#landing_texto_titulo{
 /* margin-top: 300px; */
 margin-top: 18%;
 width: 100%;
}

#landing_botones_titulo{
  margin-top: 15px;
  margin-bottom: 13%;
  width: 30vw;
  height: 3.8vw;
}

.landing2_botonson{
  margin-top: 15px;
  margin-bottom: 13%;
  width: 30vw;
  height: 3.8vw;
  margin-left: 9%;
}

#landing_titulo1{
  color: #ffffff;
  font-size: 2.8vw;
  font-weight: 600;
  text-shadow: 0px 0px 5px #ffffff;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 42px;
}

#landing_titulo2{
  padding: 0 0 0 0;
  color: #ff1d25;
  font-size: 6.85vw;
  font-weight: bold;
  line-height: 6vw;
  text-shadow: 0px 0px 10px #ff1d25;
}

#landing_boton2, #landing_boton1{
  width: 50%;
  height: 100%;
  border-style: solid;
  border-width: 3px;
  transform: skew(-10deg);
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.8vw;
}


#landing_boton1 p, #landing_boton2 p{
  transform: skew(10deg);
  line-height: 3.2vw;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
}

#landing_boton1{
  color: #fff;
  background-color: #ff1d25;
  border-color: #ff1d25;
  transition: .5s;
}

#landing_boton1:hover{
  box-shadow: 0 0 1vw #ff1d25;
}

#landing_boton2{
  color: #ff1d25;
  background-color: #fff;
  margin-left: 2%;
  border-color: #fff;
  transition: .5s;
}

#landing_boton2:hover{
  box-shadow: 0 0 1vw #fff;
}

#landing_revoulucion{
  flex-direction: row;
  background-color: #fff;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4%;
  padding-bottom: 2%;
  margin: 0 0 10px 0;
  justify-content: space-between;
}

#landing_revolucion_titulo{
  width: 33vw;
  margin-bottom: 45px;
}

#landing_revolucion_titulo_la{
  font-size: 2.5vw;
  margin: 0 0 0 0 ;
  padding: 0 0 0 0;
  line-height: 2.5vw;
  font-weight: 300;
  font-style: italic;
  width: 100%;
}

#landing_revolucion_titulo_r{
  font-size: 3.7vw;
  line-height: 3.7vw;
  margin: 0 0 0 0 ;
  padding: 0 0 0 0;
  font-weight: bold;
  font-style: italic;
  color: #ff1d25;
  text-shadow: 0px 0px 2px #ff1d25;
  width: 100%;
}

.landing_revolucion_linea{
  width: 9.5vw;
  height: .2vw;
  background-color: #ff1d25;
  margin-top: 12px;
  margin-left: 19px;
  box-shadow: 0px 0px 10px #ff1d25;
  display: block;
  position: relative;
}

#landing_revolucion_titulo_texto{
  margin-left: 40px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.6vw;
  line-height: 1.8vw;
  margin-bottom: 1.5vw;
}

#landing_revolucion_titulo_texto2{
  margin-left: 40px;
  margin-top: 5px;
  font-weight: normal;
  font-size: 1.4vw;
  line-height: 1.6vw;
  width: 80%;
}

#landing_boton_contacto{
  width: 75%;
  height: 3.2vw;
  transform: skew(-10deg);
  font-size: 1.5vw;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  background-color: #ff1d25;
  box-shadow: 0px 0px 10px #ff1d25;
  margin-left: 40px;
  transition: .5s;
  cursor: pointer;
}

#landing_boton_contacto:hover{
  box-shadow: 0px 0px 25px #ff1d25;
}

#landing_boton_contacto p{
  transform: skew(10deg);
  line-height: 3.2vw;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
}

#landing_revolucion2{
  margin-top: 74px;
}

#landing_cel{
  position: relative;
  display: inline-block;
  background-image: url('../img/mockup_cel.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12vw;
  height: 30vw;
  margin-right: -10vw;
  margin-bottom: -7vw;
  z-index: 1;
}

#landing_lap{
  position: relative;
  display: inline-block;
  background-image: url('../img/mockup_laptop.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 45vw;
  height: 30vw;
}

#landing_revolucion2_video{
  width: 499px;
  height: 306px;
  background-image: url('../img/video.png');
  float: right;
}

#landing_revolucion2_linea{
  width: 9.5vw;
  height: .2vw;
  background-color: #ff1d25;
  margin-top: 30px;
  box-shadow: 0px 0px 10px #ff1d25;
  float: right;
}

.landing_division{
  background: #1E1E1E;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  border-top: 3vw solid #fff;
  border-left: 100vw solid transparent;
}

.landing_division2{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  border-top: 3vw solid #1E1E1E;
  border-left: 100vw solid transparent;
}

.landing2_division{
  background: #1E1E1E;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  border-top: 3vw solid #fff;
  border-left: 100vw solid transparent;
}

#landing_mentalidad{
  background: #1E1E1E;
  padding-bottom: 100px;
}

#landing_mentalidad_titulo{
  margin-top: 3vw;
}

#landing_mentalidad_titulo1{
  font-weight: normal;
  font-size: 3.7vw;
  color: #fff;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
}

#landing_mentalidad_titulo2{
  font-weight: bold;
  font-size: 3.7vw;
  color: #ff1d25;
  text-shadow: 0px 0px 5px #ff1d25;
}

#landing_mentalidad_texto{
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
}

#landing_mentalidad_caracteristicas{
  margin-top: 40px;
  width: 100%;
  font-size: 1vw;
}

.landing_mentalidad_caracteristicas_contenedor{
  width: 18vw;
  color: #fff;
  text-align: center;
}

.landing_mentalidad_caracteristicas_contenedor_texto{
  margin-top: 20px;
  line-height: 1.45vw;
  font-size: 1.25vw;
}

.landing_testimonios{
  width: 100%;
  height: 35vw;
  background-color: #4d4d4d;
  background-image: url('../img/texture1.png');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 4%;
}


.landing_testimonioscontent{
  width: 60%;
  height: 85%;
}

.landing_testimonios_right{
  height: 100%;
}

.landing_testimonios_left_img{
  width: 70px;
  height: 50px;
  background-image: url('../img/comillas.png');
  background-repeat: no-repeat;
  margin: 0 0px 0 0;
}

.landing_testimonios_right_img{
  width: 70px;
  height: 50px;
  background-image: url('../img/comillas.png');
  background-repeat: no-repeat;
  transform: rotate(180deg) ;
}

.landing_arrow_left{
  width: 25px;
  height: 100%;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  margin-right: 20px;
  cursor: pointer;

}

.landing_arrow_right{
  width: 25px;
  height: 100%;
  background-image: url('../img/arrow.png');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  margin-right: 20px;
  cursor: pointer;

}

.landing_testimonios_center_container{
  /*  width: 875px;*/
 width: 57vw;
  /*height: 420px;*/
  height: 27.5vw;
  border-color: #ff1d25;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0px 0px 10px #ff1d25;
  padding: 20px 22px 20px 22px;
}

.landing_testimonios_center_container_content{
  position: relative;
  background-color: #1E1E1E;
  height: 100%;
  width: 100%;
  background-image: url('../img/testimonio1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.landing_testimonios_center_container_content_img{
  margin-right: 5%;
  z-index: -1;
}

.landing_testimonios_center_container_content_text{
  margin-right: 5%;
  z-index: 1;
  margin-top: 3vw;
  width: 60%;
}

.landing_testimonios_center_container_content_text_titulo{
  font-weight: 900;
  font-size: 2.2vw;
  color: #ff1d25;
  text-shadow: 0px 0px 2vw #ff1d25;
}

.landing_testimonios_center_container_content_text_deporte{
  font-weight: 900;
  font-size: 1.5vw;
  font-style: italic;
  color: #fff;
  margin-bottom: 20px;
}

.landing_testimonios_center_container_content_text_testimonio{
  font-weight: 900;
  font-size: .8vw;
  color: #fff;
}


#landing_sistema{
  color: #fff;
  font-size: 4vw;
  font-weight: bold;
  width: 60%;
  line-height: 4.2vw;
  padding-bottom: 3vw;
  text-shadow: 0 0 1vw #fff;
  text-align: center;
}

#landing_deportes{
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, .6);
}

.landing_deportes_deportes{
  width: 100%;
}

.landing_deportes_deporte{
  color: #fff;
  width: 15vw;
  height: 4.5vw;
  font-weight: bold;
  font-size: 1.3vw;
  line-height: 1.3vw;
  margin: 0 2vw;
  opacity: .8;
}
.renglones_soporte i{
  font-size:2vw;
  margin:15px 0;
  color: red;
  text-shadow: 0 2px 10px #870000;
}
#integrantes_soporte{
  color:white;
  font-family: lato;
  margin: 35px 0;
}
#integrantes_soporte p{
  text-align:left;
}
#integrantes_soporte h4{
  text-align:left;
  font-weight: bold;

}
#integrantes_soporte h2{
  font-weight: bold;
  margin:0;
  font-size:3vw;
}
#landing_funciona{
  background: #fff;
  padding-bottom: 100px;
  width: 100%;
  color: #1e1e1e;
  font-size: 1.5vw;
  flex-direction: row;
  justify-content: space-between;
}

#landing_funciona_right{
  width: 50%;
  height: 100%;
}

#landing_funciona_left{
  padding-left: 4vw;
  width: 48%;
  padding-right: 2%;
  height: 100%;
}

#landing_funciona_right_img{
  background-image: url('../img/mockup_laptop2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 45vw;
  margin-top: -3vw;
  overflow: hidden;
}

.landing_funciona_plan{
  color: #1e1e1e;
  font-size: 3vw;
  line-height: 2.5vw;
  margin-top: 2vw;
  font-weight: 300;
}

.landing_funciona_personalizado{
  color: #ff1d25;
  font-size: 4vw;
  line-height: 3.5vw;
  font-weight: bold;
  margin-left: 4vw;
  text-shadow: 0 0 .5vw #ff1d25;
}

.landing_funciona_linea{
  background-color: #ff1d25;
  width: 77%;
  height: .3vw;
  margin-left: 4.2vw;
  margin-top: .5vw;
  box-shadow: 0 0 1vw #ff1d25;
}

.landing_lista{
  margin-left: 1.2vw;
  margin-top: .5vw;
  text-align: start;
}

.landing_funciona_mejora{
  color: #ff1d25;
  font-size: 3vw;
  line-height: 2.5vw;
  margin-top: 1vw;
  font-weight: bold;
  text-shadow: 0 0 1vw #ff1d25;

}

.landing_deportes_contenedor {
  width: 100%;
  height: auto;
}

.landing_deportes_left, .landing_deportes_right{
  width: 5%;
}

.landing_deportes_centro{
  width: 90%;
}



@media only screen and (max-width: 1090px) {
  .landing_testimonios_center_container_content_text_testimonio{
    font-size:2vw;
    overflow:scroll;
  }
  #integrantes_soporte{
    margin:50px 0 !important;
  }

  #integrantes_soporte h4 {
   font-size:4vw;
  }
  .renglones_soporte{
    margin:15px 0 !important;
  }

  #integrantes_soporte p{
    font-size:3vw;
  }
  #landing_sistema{
    font-size:7vw;
    line-height: 7.2vw;
  }
  #landing_body{
    background-size: 140%;
    background-position-y: 7vh;
  }
  #landing_funciona{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 15vw;
  }
  #landing_funciona_right{
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 6vw;
  }

  #landing_funciona_left{
      padding-left: 0vw;
      width: 100%;
      padding-right: 0%;
      height: auto;
      text-align: center;
      font-size: 4vw;
      line-height: 5vw;
  }
  .landing_funciona_mejora{
      font-size: 8vw;
      line-height: 8.5vw;
      margin-bottom: 3vw;
  }
  .landing_funciona_plan{
      font-size: 6.5vw;
      line-height: 7.5vw;
      margin-top: 5vw;
      font-weight: 300;
  }
  .landing_funciona_personalizado{
      font-size: 7vw;
      line-height: 7vw;
      margin-bottom: 1vw;
  }

  #landing_funciona_right_img{
      width: 100vw;
      margin-top:5vw;
      height: 56vw;
      margin-left: -10.5vw;
      margin-bottom: 4vw;
  }


  #landing_texto_titulo{
      margin-top: 30%;
  }

  #landing_botones_titulo{
      justify-content: space-between !important;
      width: 50%;
      height: 8.5vw;
      margin-bottom: 0;
  }

  #landing_titulo1{
      font-size: 5vw;
      width: 100%;
      line-height: 5vw;
  }

  #landing_titulo2{
      font-size: 12.2vw;
      line-height: 11vw;
      width: 100%;
      text-shadow: 0px 0px 3px #ff1d25;
  }

  #landing_boton1 p, #landing_boton2 p{
      letter-spacing: 0;
      font-size: 3vw;
      line-height: 7vw;
  }

  #landing_revoulucion{
      justify-content: center;
      flex-direction: column;
  }

  #landing_revolucion_titulo{
      /* justify-content: center !important; */
      width: 100%;
      margin-top: 3vw;
      display: block;
  }

  #landing_revolucion_titulo_la{
      font-size: 8.5vw;
  }

  #landing_revolucion_titulo_r{
      font-size: 13.4vw;
      line-height: 15vw;
  }

  .landing_revolucion_linea{
      height: .5vw;
      width: 27vw;
      margin-left: 40px;
      float: left !important;
      margin-top: 2vw;
  }

  #landing_revolucion_titulo_texto{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 10px;
      text-align: justify;
      font-size: 5vw;
      line-height: 6vw;
  }

  #landing_revolucion_titulo_texto2{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 0px;
      text-align: justify;
      font-size: 4vw;
      line-height: 5vw;
  }



  #landing_boton_contacto{
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      height: 10vw;
  }

  #landing_boton_contacto p{
      font-size: 4vw;
      line-height: 10vw;
  }

  #landing_revolucion2{
      margin-top: 15vw;
      width: 100%;
      display: block;
  }

  #landing_cel{
      width: 50vw;
      height: 50vw;
      margin-right: -20vw;
      margin-top: 00vw;
      z-index: 1;
  }

  #landing_lap{
      width: 100vw;
      height: 70vw;
      margin-top: -60vw;
  }


  #landing_revolucion2_video{
      width: 95%;
      height: 306px;
      margin-left: 2.5%;
      margin-right: 2.5%;
      background-image: url('../img/video.png');

  }

  #landing_revolucion2_linea{
      margin-top: 2vw;
      margin-right: 2.5%;
      margin-bottom: 50px;
      height: .5vw;
      width: 27vw;
  }

  #landing_mentalidad{
      padding-bottom: 40px;
  }

  #landing_mentalidad_titulo{
      display: flex;
      flex-wrap: wrap !important;
      margin-top: 6vw;
      width: 90%;
      justify-content: center;
  }


  #landing_mentalidad_titulo1{
      font-size: 12vw;
      letter-spacing: 1px;
      line-height: 12vw;
  }

  #landing_mentalidad_titulo2{
      font-size: 12vw;
      line-height: 12vw  ;
      letter-spacing: 2px;
      margin-bottom: 0;
  }

  #landing_mentalidad_texto{
      width: 72%;
      padding-left: 0%;
      padding-right: 0%;
      margin-top: 20px;
      font-size: 4vw;
      line-height: 5.7vw;
      text-align: center;
  }

  #landing_mentalidad_caracteristicas{
      margin-top: 25px;
      width: 100%;
      display: flex;
      flex-wrap: wrap !important;
  }

  .landing_mentalidad_caracteristicas_contenedor{
      width: 70%;
      color: #fff;
      text-align: center;
      margin-bottom: 25px;
  }

  .landing_mentalidad_caracteristicas_contenedor_texto{
      font-size: 5vw;
      margin-top: 20px;
      line-height: 5.5vw;
      font-weight: bold;
      text-align: center;
  }

  .landing_testimonios{
      width: 100%;
      height: 120vw;
  }

  .landing_testimonioscontent{
      width: 100%;
      height: 85%;
  }

  .landing_testimonios_right{
      height: 100%;
  }

  .landing_testimonios_left_img{
      width: 35px;
      height: 25px;
      background-image: url('../img/comillasm.png');
      background-repeat: no-repeat;
      margin: 0 0px 0 0;
  }

  .landing_testimonios_right_img{
      width: 35px;
      height: 25px;
      background-image: url('../img/comillasm.png');
      background-repeat: no-repeat;
      transform: rotate(180deg) ;
  }

  .landing_arrow_left {
      margin-right: 15px;
  }

  .landing_arrow_right{
      margin-left: 15px;
  }

  .landing_testimonios_center{
      width: 60%;
  }

  .landing_testimonios_center_container{
      width: 100%;
      height: auto;
      padding: 5px 5.5px 5px 5.5px;
  }

  .landing_testimonios_center_container_content{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }


  .landing_testimonios_center_container_content_text{
      width: 100%;
      margin-top:  56vw;
      margin-right: 0;
      overflow: auto;
      background-color: rgba(0, 0, 0, .8);
  }

  .landing_testimonios_center_container_content_text_titulo{
      width: 90%;
      font-weight: 900;
      font-size: 5vw;
      color: #ff1d25;
      text-shadow: 0px 0px 2px #ff1d25;
      line-height: 5.2vw;
      margin: 0 0 0 0;
      text-align: center;
      align-self: center;
  }

  .landing_testimonios_center_container_content_text_deporte{
      width: 100%;
      font-weight: 900;
      font-size: 4vw;
      margin-bottom: 5px;
      text-align: center;
  }

  .landing_testimonios_center_container_content_text_testimonio{
      width: 100%;
      font-size: 2vw;
      overflow:scroll;
      text-align: left;
      padding-left: 3vw;
      padding-right: 3vw;
      align-self: center;
      padding-bottom: 3vw;
  }
  .landing_img{
    width: 17vw;
    height: 20.138vw;
    margin: 5vw;
  }

  .landing_funciona_linea{
    width: 77%;
    height: .6vw;
    margin-bottom: 3vw;
  }

  .landing_deportes_deporte{
    color: #fff;
    width: 15vw;
    height: auto;
    font-weight: bold;
    font-size: 3vw;
    line-height: 3vw;
    margin: 0 2vw;
    opacity: .8;
    padding: 2vw 0;
  }

  #landing_deportes{
    text-align: center;
    margin-top: 5vw;
  }
}

/* ------------------------ LANDING EQUIPOS ------------------------ */
#landingequipos_body{
  background-image: url('../img/coach1.png');
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
}


#landing2_texto_titulo, #landing2_botones_titulo{
  margin-left: 9%;
}

#landing2_texto_titulo{
  /* margin-top: 300px; */
  margin-top: 18%;
  width: 100%;
}

#landing2_botones_titulo{
   margin-top: 15px;
   margin-bottom: 13%;
   width: 100%;
   height: 3.8vw;
}


#landing2_titulo1{
   color: #ffffff;
   font-size: 2.3vw;
   font-weight: 600;
   text-shadow: 0px 0px 5px #ffffff;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   line-height: 2.3vw;
}

#landing2_titulo2{
   padding: 0 0 0 0;
   color: #ff1d25;
   font-size: 3.35vw;
   font-weight: bold;
   line-height: 4vw;
   text-shadow: 0px 0px 10px #ff1d25;
}

#landing2_plan_contenido{
  width: 45%;
  margin-bottom: 45px;
}

#landing2_plan_titulo{
  width: 100%;
  margin-bottom: 45px;

}

#landing2_plan_titulo_plan{
  font-size: 3.7vw;
  margin: 0 0 0 0 ;
  padding: 0 0 0 0;
  line-height: 4vw;
  font-weight: 300;
  font-style: italic;
  width: 100%;
}

#landing2_plan_titulo_pz{
  font-size: 3.7vw;
  line-height: 4vw;
  margin: 0 0 0 0 ;
  padding: 0 0 0 0;
  font-weight: bold;
  font-style: italic;
  color: #ff1d25;
  text-shadow: 0px 0px 2px #ff1d25;
  width: 100%;
}

#landing2_plan_linea{
  width: 26.8vw;
  height: .2vw;
  background-color: #ff1d25;
  margin-top: .5vw;
  box-shadow: 0px 0px 10px #ff1d25;
  display: block;
  position: relative;
}

#landing2_plan{
  background-color: #fff;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 6%;
  padding-top: 4%;
  padding-bottom: 6%;
  margin: 0 0 10px 0;
  justify-content: space-between;
}

#landing2_plan2{
  margin-top: -10vw;
}

#landing2_lista{
  list-style: disc;
  font-size: 1.4vw;
}

#landing2_plan_texto{
  margin-top: 5vw;
  font-size: 1.5vw;
  font-weight: normal;
  text-align: justify;
  width: 97%;
}

#landing2_plan2_cel{
  position: relative;
  display: inline-block;
  background-image: url('../img/mockup_cel.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw;
  height: 30vw;
  margin-right: -14vw;
  margin-bottom: -5.5vw;
  z-index: 1;
}

#landing2_plan2_lap{
  position: relative;
  display: inline-block;
  background-image: url('../img/mockup_laptop.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50vw;
  height: 30vw;
  margin-left: -8vw;
}

#landingequipos_resultados{
  width: 100%;
  background-color: #1e1e1e;
  flex-direction: row;
}

#landingequipos_resultados_left{
  background-image: url('../img/laptopequipos.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 60vw;
  height: 38vw;
  margin-top: -3vw;
  margin-left: -8vw;
  overflow: hidden;
}


.landingequipos_lista{
  color: #fff;
  font-size: 1.3vw;
  margin-top: 1vw;
}


.landingequipos_entrena{
  font-size: 3.7vw;
  line-height: 4vw;
  color: #fff;
  font-weight: 300;
  font-style: italic;
  margin-top: 2vw;
}

.landingequipos_mejores{
  font-size: 3.7vw;
  line-height: 4vw;
  color: #ff1d25;
    font-weight: bold;
    text-shadow: 0 0 1vw #ff1d25;
    font-style: italic;
}



/* ------------------------ LANDING EQUIPOS ------------------------ */
#landingequipos_lista{
  display: inline-block;
  color: #000;
}

#landing2_plan_izyd{
  justify-content: space-between;
  flex-direction: row;
}

@media only screen and (max-width: 1090px) {
  #integrantes_soporte h2{
    font-size:7vw;
  }
  .renglones_soporte i{
  font-size:7vw;
  margin:43px 0;
  margin-right:72vw;
  color: red;
  text-shadow: 0 2px 21px #870000;

  }

  #landingequipos_body{
    background-size: 100%;
    background-position-y: 7vh;
  }

  .landing2_botonson{
    justify-content: center !important;
    width: 100% !important;
    height: 8.5vw;
    display: flex;
    margin-top: 3vw;
    margin-bottom: 5vw;
    margin-left: 0;
  }

  #landing2_titulo1{
    font-size: 9vw;
    line-height: 9vw;
    padding-right: 0;
    text-align: center;
}

#landing2_titulo2{
    font-size: 7vw;
    line-height: 7vw;
    padding-right: 0;
    padding-top: 3vw;
    text-align: center;
}

  #landing2_lista{
    font-size: 3.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  #landing2_plan_contenido{
    width: 100%;
    padding: 0 5% 0 5%;
    margin-bottom: 0;
  }

  #landing2_plan_titulo{
    width: 100%;
    margin-bottom: 2vw;
  }

  #landing2_plan_titulo_plan{
    font-size: 8.5vw;
    line-height: 11vw;
    text-align: center;
  }

  #landing2_plan_titulo_pz{
    font-size: 8.5vw;
    text-align: center;
  }

  #landing2_plan_linea{
    width: 64vw;
    height: .6vw;
    margin-top: 4vw;
    align-self: center;
  }

  #landing2_plan_izyd{
    flex-direction: column;
    justify-content: center;
  }

  #landing2_plan2{
    margin-top: 0vw;
    margin-bottom: 4vw;
  }

  #landing2_plan2_cel{
    width: 30vw;
    height: 40vw;
  }

  #landing2_plan2_lap{
    width: 80vw;
    height: 45vw;
    margin-left: -8vw;
  }

  .landing2_division{
    margin-top: -3vw;
  }

  #landingequipos_resultados{
    width: 100%;
    background-color: #1e1e1e;
    flex-direction: column-reverse;
    justify-content: center;
    padding-bottom: 10vw;
  }

  .landingequipos_entrena{
    color: #fff;
    font-size: 7.5vw;
    line-height: 7.5vw;
    font-weight: 300;
    font-style: italic;
    margin-top: 2vw;
    text-align: center;
  }

  .landingequipos_mejores{
    color: #ff1d25;
    font-size: 7.5vw;
    line-height: 7.5vw;
    font-weight: bold;
    text-shadow: 0 0 1vw #ff1d25;
    font-style: italic;
    text-align: center;
  }

  .landingequipos_lista{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3.5vw;
  }
  #landingequipos_resultados_left{
    width: 80vw;
    height: 45vw;
    margin-top: 0vw;
    margin-left: 0vw;
    align-self: center;
  }
  #landingequipos_resultados_right{
    margin-top: 4vw;
  }

}


/* ------------------------ CONTACTO ------------------------ */
#contacto_body{
  overflow-x: hidden;
  background-color: #1E1E1E;
}

.contacto_todo{
  margin-top: 5vw;
}


#contacto_titulo{
  color: #ffffff;
  font-size: 39px;
  font-weight: bold;
  margin-left: 5%;
  margin-right: 5%;
  letter-spacing: 2px;
}
.titulo_contacto_landing{
  margin-top:7vw;
}

#contacto_rayaroja{
  height: 2px;
  width: 30%;
  background-color: #ff1d25;
}

.contacto_input_container{
  position: relative;
  display: block;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #ff1d25;
  border-width: 1px;
  transition: .2s;
  width: 100%;
  background-color: #ffffff;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.contacto_input_container:hover{
  box-shadow: 0 0 10px #ff1d25;
}

#contacto_contenido1, #contacto_contenido2{
  width: 28%;
  margin: 20px 0 0 8%;
  padding: 0 0 0 0;
}

#contacto_contenido1 {
  margin-left: 15%;
}

#contacto_contenido2{
  margin-right: 15%;
}

.contacto_input_field{
  width: 100%;
  padding: 10px;
  font-size: 1vw;
  outline: none;
  overflow: hidden;
}

.contacto_label_container{
  color: #ff1d25;
  margin: 2% 0 .5% 0;
  padding: 0 0 0 0;
}

#contacto_contenido1_pregunta{
  position: relative;
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

#contacto_contenido1_callto{
  display: block;
  position: relative;
  font-size: 1.4vw;
  color: #ffffff;
  text-align: center;
}

.contacto_boton{
  padding: 2%;
  width: 30%;
  margin-top: 5%;
  margin-left: 35%;
}

#contacto_mensaje{
  height: 150px;

}

.contacto_contenido2_titulo{
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  margin-top: 3%;
}
.contacto_contenido2_info{
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 1.4vw;
  font-weight: lighter;
  text-align: center;
  margin-top: 5px;
}

.contacto_contenido2_infos{
  margin-left: 10px;
}

/* ------------------------ NOSOTROS ------------------------ */

#about_primer_container {
  background-image: url('../img/about_background_image2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 300px;
  padding-bottom: 45px;
}

#about_title_primer_container {
  font-weight: 700;
  font-size: 80px;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #FFFFFF;
  padding: 0 20px 0 20px;
  text-align: center;
}

.about_persona{
    background-image: url('../img/gradiente2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    flex-direction: row;
}

.about_persona2{
  background-image: url('../img/gradiente1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  flex-direction: row-reverse;
}

#about_infoadrian{
  align-items: end;
}

.about_fotos{
    width: 70vw;
    height: 100%;
    margin-right: 2vw;
    background-size: cover;
    background-repeat: no-repeat;

}

  .about_fotos2{
    width: 40vw;
    height: 100%;
    margin-left: 2vw;
    background-size: cover;
    background-repeat: no-repeat;
  }

#about_vildo{
    background-image: url('../img/vildo.png');
}

#about_adrian{
  background-image: url('../img/adrian.png');
  }

.about_nombre{
    padding-top: 2vw;
    color: #ff1d25;
    font-weight: bold;
    font-size: 2.5vw;
    text-shadow: 0 0 1vw #ff1d25;
    letter-spacing: 6px;
}

.about_nombre2{
  padding-top: 2vw;
  color: #ff1d25;
  font-weight: bold;
  font-size: 2.5vw;
  text-shadow: 0 0 1vw #ff1d25;
  letter-spacing: 6px;
  text-align: right;
}

.about_puesto{
    color: #1e1e1e;
    letter-spacing: 4px;
    font-weight: 300;
    font-size: 1.2vw;
}

.about_puesto2{
  color: #fff;
  letter-spacing: 4px;
  font-weight: 300;
  font-size: 1.2vw;
}

.about_info{
  color: #1e1e1e;
  text-align: left;
  padding-bottom: 2vw;
  width: 80%;
}

.about_info2{
  color: #fff;
  text-align: right;
  padding-bottom: 2vw;
  width: 80%;
}

.about_infotodo{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media only screen and (max-width: 1090px) {
  .contacto_input_field{
    font-size: 3vw;
    
  }
  #contacto_enviar{
    width: 100%;
    margin-left: 0;
  }
  #about_infoadrian{
    align-items: center;
  }
.iconos_devteam{

}
  .about_infotodo{
    align-items: center;
    flex-direction: column;
  }

  .about_persona{
    background-image: none;
    background-color: #fff;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_fotos, .about_fotos2{
    width: 60vw;
    height: 58vw;
}

.about_persona2{
  background-image: none;
  background-color: #333333;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: end;
}


  #about_title_primer_container {
    font-size: 12vw;
    margin-top: 15vw;
    line-height: 12vw;
}
#about_primer_container{
  padding-top: 120px;
}

.about_nombre{
  padding-top: 10vw;
  font-size: 7.5vw;
  letter-spacing: 0;
}

.about_puesto, .about_puesto2{
  letter-spacing: 0;
  font-size: 4vw;
  text-align: start
}

.about_info, .about_info2{
  padding-bottom: 10vw;
  text-align: start;
  font-size:3.5vw;
}


}

#about_description_primer_container {
  font-weight: 700;
  font-size: 1.2vw;
  color: #FFFFFF;
  padding: 0 20px 160px 20px;
  width: 70%;
}

#about_segundo_container {
  background-color: #333333;
  padding-top: 95px;
}

.about_red_title {
  font-weight: 700;
  color: #FF1D25;
  text-shadow: 0px 0px 5px #ff1d25;
  font-size: 45px;
  letter-spacing: 10px;
  padding: 0 20px 0 20px;
}

#about_description_segundo_container {
  font-weight: 700;
  font-size: 1vw;
  color: #FFFFFF;
  padding: 0 20px 80px 20px;
}

#about_overlay {
  position: relative;
  margin-top: -80px;
}

#about_overlay_image {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
}

#about_tercer_container {
  background-image: url(../img/about_tercer_container_fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

#about_subtitulo_tercer_container {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #FFFFFF;
  letter-spacing: 5px;
  padding-bottom: 70px;
}

.about_tercer_container_titulo_persona {
  font-weight: 700;
  color: #FF1D25;
  text-shadow: 0px 0px 5px #ff1d25;
  font-size: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.about_tercer_container_subtitulo_persona {
  font-weight: 900i;
  color: white;
  text-shadow: 0px 0px 5px #ffffff;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

#about_hector_cerrado {
  background-color: #333333;
  border-radius: 40px;
  padding: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

#about_hector_cerrado:hover {
  cursor: pointer;
}

#about_hector_abierto {
  background-color: #333333;
  border-radius: 0 40px 40px 0;
  padding: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  margin-left: -40px;
}

#about_adrian_cerrado {
  background-color: #333333;
  border-radius: 40px;
  padding: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

#about_adrian_cerrado:hover {
  cursor: pointer;
}

#about_adrian_abierto {
  background-color: #333333;
  border-radius: 0 40px 40px 0;
  padding: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  margin-left: -40px;
}

#about_hector_texto {
  font-weight: 300;
  color: white;
  font-size: 17px;
  text-align: left !important;
}

#about_adrian_texto {
  font-weight: 300;
  color: white;
  font-size: 17px;
  text-align: left !important;
}

.texto_invisible_hector {
  display: none;
}

.texto_visible_hector {
  display: block;
}

.texto_invisible_adrian {
  display: none;
}

.texto_visible_adrian {
  display: block;
}

#about_footer_container {
  padding-bottom: 350px;
  background-color: #1A1A1A;
}

#mid_height {
  height: 50%;
}
#about_hector_mobil{
  display: none;
  background-color: #333333;
padding:25px;
margin-bottom:30px;
}
#about_adrian_mobil{
  display: none;
  background-color: #333333;
  padding:25px;
  margin-bottom:10px;
}



@media only screen and (max-width: 1090px) {

  #about_tercer_container {
    padding-top: 10vw;
  }

  #about_segundo_container {
    padding-top: 10vw;
  }

  #about_adrian_mobil{
    display: block!important;
  }
  #about_hector_mobil{
    display: block!important;
  }
  #about_hector_cerrado{
    display: none!important;
  }
  #about_hector_abierto{
    display: none!important;
  }
  #about_adrian_cerrado{
    display: none!important;
  }
  #about_adrian_abierto{
    display: none!important;
  }
  #about_hector_texto{
    font-size: 15px;
  }
  #about_adrian_texto{
    font-size: 15px;
  }
}





/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 1090px) {
  /* CONTACTO */
  #about_subtitulo_tercer_container{
    padding: 0;
    margin-bottom: 10vw;
    font-size: 6vw;
  }
  #about_description_segundo_container{
    font-size:3vw;
    padding: 0 10% 10vw 10%;

  }
  #about_description_primer_container {
    padding: 0 20px 40px 20px !important;
    font-size: 3.2vw;
    width: 80%;
    }
    .about_red_title{
      font-size: 12vw;
      line-height: 13vw;
    }
  .landing_testimonios_center_container_content_text_titulo{
    font-size:4vw;
  }

  .titulo_contacto_landing{
    margin-top:16vw !important;
  }

  #contacto_titulo{
      color: #ffffff;
      font-size: 15vw;
      transition: all .5s;
      font-weight: bold;
      margin-left: 5%;
      margin-right: 5%;
      letter-spacing: 1px;
  }

  #contacto_rayaroja{
      display: none;
  }
  #contacto_contenido2, #contacto_contenido1{
      width: 100%;
      margin: 0;
      padding: 0 8% 0 8%;
  }

  #contacto_contenido2{
    margin-top: 10vw;
    margin-bottom: 10vw;
  }

  #contacto_contenido1_pregunta{
      position: relative;
      display: block;
      font-size: 4vw;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      line-height: 25px;
  }

  #contacto_contenido1_callto{
      display: block;
      position: relative;
      font-size: 3.5vw;
      margin: 1vw 0;
  }

  .contacto_contenido2_titulo{
      font-size: 18px;
  }

  .contacto_contenido2_info{
      font-size: 13px;
  }
}


/* LANDING MOVIL */
#landingmovil_container{
  display: none;
}

@media only screen and (max-width: 1090px) {
  #landingmovil_container{
      display: flex;
      width: 100vw;
      height: 121vh;
      background-color: #101010;

  }
  .landingmovil_logo{
      background-image: url('../img/impactlogo.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 72vw;
      height: 24vw;
  }

  #landingmovil_registrate{
  animation-delay: 1.5s;
  }
  #landingmovil_iniciar{
    animation-delay: 1.2s;
  }
  .landingmovil_input{
    background-color: #fff;
    color: #1e1e1e;
    border: none;
    font-size: 4vw;
    font-family: lato;
    border-radius: 4vw;
    font-weight: bold;
    width: 90%;
    padding: 3vw 3.5vw;
  }

  #landingmovil_login{
      width: 70%;
      margin-bottom:30vw;
      margin-top: 5vw;
  }

  #landingmovil_login form{
      margin-bottom: 5vw;
  }

  .landingmovil_label{
    color: #fff;
    font-weight: bold;
    font-size: 4vw;
    font-family: lato;
    margin-bottom: 1vw;
    margin-top: 2.5vw;
  }

  .landingmovil_botones{
    border: none;
    border-radius: 3vw;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
    padding: 2vw;
    font-size: 5vw;
    background-color: #ff1d25;
    color: white;
    margin-bottom: 3vw;
  }
  .landingmovil_botones:active{
    background-color: #a10005;
  }
  #continuar_landing{
    color: #1e1e1e;
    margin-top: 7vw;
    font-family: lato;
    color: white;
    font-size: 4vw;
    text-decoration:underline;
    animation-delay:1.6s;
  }

  #landingmovil_olvidaste{
      color: #fff;
      font-weight: 500;
      transition: all .5s;
      text-align: center;
      cursor: pointer;
      font-size: 3vw;
      animation-delay:1.6s;
  }

  #landingmovil_ir{
      background-color: #ff1d25;
      text-align: right;
      padding-right: 4vw;
      cursor: pointer;
      color: #fff;
  }
}
