

#ID_titulo {
    font-size: 50px;
    margin: 15px 0;
    color: red !important;
    animation-delay: .5s;
    font-weight: bold;
    font-family:lato;
}

.terminar_mensaje {
    font-weight: lighter;
    margin: 25px 0;
}
.tipos_de_usuario i{
    font-size:3vw;
    margin:2vw;
    color:red;
}

#terminar_btn {
    background-color: #b52434;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .6s;
    cursor: pointer;
}

.FPago_metodo_tarjeta {
    border: 3px solid red;
    width: 80%;
    color: red;
    font-family: Lato;
    font-size: 40px;
    animation-delay: .7s;
}

.FPago_metodo_Paypal {
    border: 3px solid grey;
    width: 80%;
    color: grey;
    font-family: Lato;
    animation-delay: .7s;
    font-size: 40px;
}

.FPago_metodo_Paypal:hover,
.FPago_metodo_Paypal i:hover {
    color: Red;
    border: 3px solid red;
    cursor: pointer;
}

.FPago_metodo_Paypal i {
    font-size: 60px;
    margin: 15px 0;
    width: 100px;
    font-size: 50px;
    display: block;
    border: none !important;
}

.FPago_metodo_tarjeta i {
    font-size: 60px;
    margin: 15px 0;
    width: 100px;
    font-size: 50px;
    display: block;
}

.DP_input h4{
    color:red;
    display:inline-block;
    position:relative;
    vertical-align: middle;
    padding-top: 6px;
}
.DP_input {
    margin: 10px 0;
}

.DP_input input[type="text"]:focus {
    outline: none;
}

.DP_input input[type="text"] {
    width: 75%;
    padding: 0 15px;
    margin: 0;
    font-family: Lato;
    border: none;
    color: #3e3e3e;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.DP_input input[type="text"]::placeholder {
    font-size: 20px;
    font-family: Lato;
    color: #d1d1d1;
}

.input_error {
    border: 2px solid red !important;
}

.input_box_tutor,
.input_box_num,
.input_box_mes,
.input_box_p,
.input_box_ano,
.input_box_exp,
.input_box_cvc {
   border: 1px solid grey;
   margin: 0 0;
   height: auto;
   overflow: hidden;
   animation-delay: .5s;
}

.input_box_num:hover,
.input_box_tutor:hover,
.input_box_mes:hover,
.input_box_p:hover,
.input_box_ano:hover,
.input_box_exp:hover,
.input_box_cvc:hover {
   background-color: #d1d1d1;
}

.input_box_tutor i,
.input_box_num i,
.input_box_mes i,
.input_box_exp i,
.input_box_ano i,
.input_box_cvc i,
.input_box_p i {
   font-size: 20px;
   padding: 10px 15px;
   border-right: 1px solid grey;
   color: grey;
   display: inline-block;
   vertical-align: middle;
   background-color: #f2f2f2;
}


#ID_deporte,
#ID_exp,
#ID_pos_obj {
    padding:0 15px;
    margin: 0px 0;
    width: 78%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-family: Lato;
}

#ID_deporte:focus,
#ID_exp,
#ID_pos_obj:focus {
    outline: none;
}

.CVC_CODE {
    width: 65% !important;
}

#ID_btn {
    background-color: #b52434;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .5s;
    cursor: pointer;
}

#ID_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: Red;
}

.registro_imagen_logo {
    width: 70%;
    animation-delay: .3s;
}

.input_container {
    animation-delay: .6s;
}

.input_container {
    padding: 0 15px;
}

#registro_close {
    float: right;
    color: grey;
    opacity: .5;
    margin: 15px 0;
    font-size: 25px;
    z-index: 1000;
    cursor: pointer;
    transition: all .5s;
}

#registro_close:hover {
    opacity: 1;
}

#registro_close:active {
    transform: scale(.9);
}

.input_container img {
    display: inline-block;
    position: relative;
    width: 35px;
}

#registro_titulo {
    color: grey;
    font-family: Lato;
    font-weight: bold;
    margin-top: 0px;
    animation-delay: .5s;
}

.input_container input {
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 10px 15px;
    margin: 15px 0px;
    border: 1px solid grey;
    cursor: pointer;
}

.input_container input:hover {
    background-color: #f2f2f2;
}

#registro_btn {
    background-color: red;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 10px 15px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: .6s;
    transition: all .5s;
}

#registro_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: #b52434;
}

#registro_btn:active {
    transform: scale(.9) skew(-10deg);
}

#registro_modal {
    background-color: white;
    height: auto;
    transition: all .5s;
    z-index: -10;
}

#registro_modal div center img {
    margin: 20px 7px;
}

#IP_modal {
    background-color: white;
}

#IP_titulo {
    font-size: 50px;
    margin: 15px 0;
    font-weight: bold;
    font-family: lato;
    color: red !important;
    animation-delay: .5s;
}

.input_error {
    border: 2px solid red !important;
}


#IP_genero,
#IP_Experiencia,
#IP_Estatura,
#IP_peso,
#FPago_mes_vencimiento,
#FPago_año_vencimiento{
    padding: 0 15px;
    z-index: 109;
    margin: 0px 0;
    width: 78%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-family: Lato;
}

#IP_genero:focus,
#IP_Experiencia:focus,
#IP_Estatura,
#IP_peso,
#FPago_mes_vencimiento:focus,
#FPago_año_vencimiento:focus {
    outline: none;
}


.CVC_CODE {
    width: 65% !important;
}

#IP_btn {
    background-color: RED;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .5s;
    cursor: pointer;
}

#IP_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: #b52434;
}

#ID_Competencia_fecha, #IP_fecha_nacimiento {
    border: none;
    font-family: lato;
    font-size: 20px;
    background-color: transparent;
}

#ID_Competencia_fecha:focus, #IP_fecha_nacimiento:focus {
    outline: none;
}

#IDep_close {
    float: right;
    color: grey;
    opacity: .5;
    margin: 15px 0;
    font-size: 25px;
    z-index: 1000;
    cursor: pointer;
    transition: all .5s;
}

#IDep_close:hover {
    opacity: 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#IDep_close:active {
    transform: scale(.9);
}

.input_box {
    border: 1px solid grey;
    margin: 20px 0;
    height: auto;
    overflow: hidden;
    animation-delay: .5s;
}

.Prox_Competencia {
    animation-delay: .5s;
}

.input_box select,
.input_box input {
    background-color: transparent;
}

.input_box:hover {
    background-color: #d1d1d1;
}

.IDep_input img {
    display: inline-block;
    position: relative;
    width: 50px;
}

.Prox_Competencia {
    color: red;
    margin-top: 7%;
    display: inline-block;
    position: relative;
}

.IDep_input input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    font-family: Lato;
    font-weight: bold;
    color: #3e3e3e;
    font-size: 20px;
}

.IDep_input input[type="text"]::placeholder {
    font-size: 20px;
    font-family: Lato;
    color: #d1d1d1;
}

.IDep_input input[type="date"] {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
    font-family: Lato;
    margin: 15px 0;
    border: 1px solid grey;
}

.IDep_input select {
    width: 75%;
    padding: 15px;
    margin: 18px 0;
    font-weight: bold;
    color: #3e3e3e;
    font-size: 20px;
    font-family: Lato;
}

.IDep_titulo {
    color: red;
    font-family: Lato;
    font-weight: bold;
    margin-top: 0px;
    font-size: 50px;
    margin: 15px 0;
    animation-delay: .5s;
}

#IDep_btn {
    background-color: #b52434;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .5s;
    cursor: pointer;
}

#IDep_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: Red;
}

#IDep_btn:active {
    transform: scale(.9) skew(-10deg) !important;
}

#IDep_modal {
    background-color: white;
    height: auto;
    transition: all .5s;
    z-index: -10;
    padding-left: 65px;
}

#IDep_modal div center img {
    margin: 20px 7px;
}

.IDep_sweetalert {
    background-color: #b52434 !important;
    border-radius: 0px !important;
}

.metas_objetivos_imagen_logo {
    width: 70%;
    animation-delay: .3s;
}

#metas_objetivos_close {
    float: right;
    color: grey;
    opacity: .5;
    display: inline-block;
    margin: 15px 0;
    font-size: 25px;
    z-index: 1000;
    cursor: pointer;
    transition: all .5s;
}

#metas_objetivos_close:hover {
    opacity: 1;
}

#metas_objetivos_close:active {
    transform: scale(.9);
}

#metas_objetivos_titulo {
    color: grey;
    font-family: Lato;
    font-weight: bold;
    margin-top: 0px;
    animation-delay: .5s;
}

#metas_objetivos_btn {
    background-color: red;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 10px 15px;
    margin-bottom: 25px;
    font-size: 20px;
    animation-delay: .6s;
    transition: all .5s;
}

#metas_objetivos_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: Red;
}

#metas_objetivos_btn:active {
    transform: scale(.9) skew(-10deg);
}

#metas_objetivos_modal {
    background-color: white;
    height: auto;
    transition: all .5s;
    z-index: -10;
}

#metas_objetivos_modal div center img {
    margin: 20px 7px;
}

.contenedor_metas {
    border: 1px solid grey;
    padding: 25px;
    animation-delay: .5s
}

.contenedor_objetivo {
    border: 1px solid grey;
    padding: 25px 0px;
}

.Titulo_seccion {
    color: red;
    display: inline-block;
    font-family: Lato;
    font-weight: bold;
    margin-top: 0px;
    font-size: 50px;
    margin: 15px 0;
    animation-delay: .5s;
}

.titulos_seguimiento {
    color: red;
    font-size: 1.5vw;
    font-family: Lato;
}

.subtitulos_seguimiento {
    font-family: lato;
    font-size: 12px;
    line-height: 100%;
    text-align: left;
    font-weight: lighter;
    color: #3e3e3e;
}


/* ---------------------------------- CHECKBOX ---------------------------------------- */


/* ---------------------------------- CHECKBOX ---------------------------------------- */


/* ---------------------------------- CHECKBOX ---------------------------------------- */


/* ---------------------------------- CHECKBOX ---------------------------------------- */


/* ---------------------------------- CHECKBOX ---------------------------------------- */


/* ---------------------------------- CHECKBOX ---------------------------------------- */


/* ---------------------------------- CHECKBOX ---------------------------------------- */


/* ---------------------------------- CHECKBOX ---------------------------------------- */

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}

.inputGroup label {
    padding: 5px 12px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    font-weight: lighter;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.inputGroup:hover {
    background-color: #d1d1d1;
}

.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #3e3e3e;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.inputGroup input:checked~label {
    color: #fff;
}

.inputGroup input:checked~label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup input:checked~label:after {
    background-color: red;
    border-color: red;
}

.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.form_metas {
    padding: 0 16px;
    max-width: 600px;
    margin: 0px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

.form_objetivo {
    padding: 0 16px;
    max-width: 600px;
    margin: 0px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

code {
    background-color: #9AA3AC;
    padding: 0 8px;
}


/* ---------------------------------- media screen ---------------------------------------- */


/* ---------------------------------- media screen ---------------------------------------- */


/* ---------------------------------- media screen ---------------------------------------- */


/* ---------------------------------- media screen ---------------------------------------- */


/* ---------------------------------- media screen ---------------------------------------- */


/* ---------------------------------- media screen ---------------------------------------- */

@media only screen and (max-width: 991px) {
    #FPago_titulo {
        font-size:9vw;

    }
    ..PP_titulo{
        font-size:7vw;
    }
    .desaparecer_columna{
        display:none;
    }
    .contenedor_metas,
    .contenedor_objetivo {
        margin: 25px 0;
    }
    .tipos_de_usuario i {
        font-size: 6vw;
        margin: 20px 10px;
        color:red;
    }
    .titulos_seguimiento{
        font-size:5.5vw;
    }
}




#FPago_titulo {
    font-size: 3vw;
    margin: 15px 0;
    color: red !important;
    animation-delay: .5s;
    font-family: lato;
    font-weight: bold
}

.terminar_mensaje {
    font-weight: lighter;
    margin: 25px 0;
}

#terminar_btn {
    background-color: #b52434;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .6s;
    cursor: pointer;
}


.FPago_metodo_Paypal {
    border: 3px solid grey;
    width: 80%;
    color: grey;
    font-family: Lato;
    animation-delay: .7s;
    font-size: 40px;
}

.FPago_metodo_Paypal:hover,
.FPago_metodo_Paypal i:hover {
    color: Red;
    border: 3px solid red;
    cursor: pointer;
}

.FPago_metodo_Paypal i {
    font-size: 60px;
    margin: 15px 0;
    width: 100px;
    font-size: 50px;
    display: block;
    border: none !important;
}





.input_error {
    border: 2px solid red !important;
}




#FPago_mes_vencimiento:focus,
#FPago_año_vencimiento:focus {
    outline: none;
}

.CVC_CODE {
    width: 65% !important;
}

#FPago_btn {
    background-color: red;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .5s;
    cursor: pointer;
}

#FPago_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: #b52434;
}



.terminar_titulo h1 {
    font-size: 50px;
    margin: 15px 0;
}

.terminar_mensaje {
    font-weight: lighter;
    margin: 25px 0;
}

#terminar_btn {
    background-color: #b52434;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .5s;
    cursor: pointer;
}

#terminar_btn:hover {
    background-color: red;
}

.delay_animacion_full {
    animation-delay: 1s;
}

.delay_animacion_half {
    animation-delay: .5s;
}


/* TIPOS USUARIOS */

#TU_info_text {
    color: red;
    font-family: Lato;
    font-size: 2vw;
}

#TU_btn {
    background-color: red;
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 45px;
    margin: 25px 0px;
    font-size: 20px;
    cursor: pointer;
}

#TU_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: Red;
}

#TU_modal {
    background-color: white;
    transition: all .5s;
}




.tipos_de_usuario {
    margin: 60px 0;
}

.tipos_de_usuario h5 {
    color: red;
    font-size: 1.5vw;
    font-family: Lato;
    font-weight: bold;
}

#TU_entrenador,
#TU_escuela,
#TU_usuario {
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
    cursor: pointer;
}

.tipo_hover {
    background-color: red;
}

.tipo_unhover {
    color: white !important;
}

.tipo_seleccionado {
    background-color: red;
}

.deseleccion {
    color: white !important;
}

@media only screen and (max-width: 992px) {

    .tipos_de_usuario h5 {
        font-size: 3.5vw;
    }
    #TU_info_text {
        font-size: 4vw;
    }


    #PP_info_text {
        font-size: 4vw !important;
    }

    .PP_precio {
        font-size: 3vw;
    }
}


/* PANTALLA ENTRENADOR */

#ientrenador_first_row i {
    font-size: 3vw;
    color: red;
    margin-top: 50px;
    transition: all .5s;
}

.ientrenador_input {
    margin: 10px 0;
}

.ientrenador_input input[type="text"]:focus {
    outline: none;
}

.ientrenador_input input[type="text"] {
    width: 75%;
    padding: 15px;
    margin: 0;
    font-family: Lato;
    border: none;
    color: #3e3e3e;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.ientrenador_input input[type="text"]::placeholder {
    font-size: 20px;
    font-family: Lato;
    color: #d1d1d1;
}

.input_error {
    border: 2px solid red !important;
}

.ientrenador_input_box_correo_institucion,
.ientrenador_input_box_num,
.ientrenador_input_box_institucion,
.ientrenador_input_box_jugadores,
.ientrenador_input_box_contacto_institucion {
    border: 1px solid grey;
    margin: 15px 0;
    height: auto;
    overflow: hidden;
    animation-delay: .5s;
}

.ientrenador_input i {
    font-size: 20px;
    padding: 25px 15px;
    border-right: 1px solid grey;
    color: grey;
    display: inline-block;
    vertical-align: middle;
    background-color: #f2f2f2;
}

#IP_Jugadores {
    padding: 15px;
    z-index: 109;
    margin: 0px 0;
    width: 78%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-family: Lato;
}

#IP_Jugadores {
    outline: none;
}

#ientrenador_btn {
    background-color: red;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .5s;
    cursor: pointer;
}

#ientrenador_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: #b52434;
}

#TU_info_text {
    color: red;
    font-family: Lato;
    font-size: 2vw;
}

#ientrenador_modal {
    background-color: white;
    transition: all .5s;
}

#TU_titulo {
    font-size: 50px;
    margin: 15px 0;
    color: red;
    animation-delay: .5s;
    margin: 25px 0;
    font-family: lato;
    font-weight: bold;
}


.tipos_de_usuario {
    margin: 60px 0;
}



#TU_entrenador,
#TU_escuela,
#TU_usuario {
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
    cursor: pointer;
}

.tipo_hover {
    background-color: red;
}

.tipo_unhover {
    color: white !important;
}

.tipo_seleccionado {
    background-color: red;
}

.deseleccion {
    color: white !important;
}

@media only screen and (max-width: 992px) {

    .tipos_de_usuario h5 {
        font-size: 3.5vw;
    }
    #TU_info_text {
        font-size: 4vw;
    }
    #ientrenador_first_row i {
        font-size: 7vw;
    }
}


/* PANTALLA FINAL REGISTRO ENTRENADOR */

#Terminar_modal {
    background-color: white;
    transition: all .5s;
}

#aviso_contacto_titulo div center h1 {
    margin: 5px 55px;
    color: #3e3e3e;
    font-family: lato;
    font-size: 3vw;
    font-weight: bold;
}

#aviso_contacto_titulo div center h5 {
    margin: 5px 55px 50px 55px;
    font-family: lato;
    color: #3e3e3e;
}

#aviso_contacto_titulo div center img {
    width: 12vw;
    margin: 60px 0;
}

#aviso_contacto_btn {
    background-color: #b52434;
    transform: skew(-10deg);
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 22px;
    margin: 25px 0px 45px 0;
    font-size: 20px;
    animation-delay: 1s;
    transition: all .5s;
    cursor: pointer;
}

#aviso_contacto_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: Red;
}

/* PLANES */

.PP_regresar {
    color: #3e3e3e;
    opacity: .2;
    font-size: 2vw;
    cursor: pointer;
    margin: 15px 0 0 15px;
    transition: all .5s;
}

.PP_regresar:hover {
    opacity: 1;
}

.PP_descuento {
    margin: 0;
    text-decoration: line-through;
    color: red;
    opacity: .5;
}

.PP_precio {
    font-size: 1.5vw;
    color: red;
    font-family: Lato;
}

#PP_info_text {
    color: red;
    font-family: Lato;
    font-size: 1.5vw;
}

#PP_btn {
    background-color: red;
    color: white;
    font-family: Lato;
    border: none;
    padding: 15px 45px;
    margin: 8px 0px;
    font-size: 20px;
    cursor: pointer;
}

#PP_btn:hover {
    box-shadow: 0px 0px 8px red;
    background-color: Red;
}

#PP_modal {
    background-color: white;
    transition: all .5s;
}

.PP_titulo {
    font-size: 4vw;
    margin: 15px 0;
    color: red;
    animation-delay: .5s;
    margin: 0px;
    font-family: lato;
    font-weight: bold;
}

.PP_subtitulo {
    font-family: lato;
    font-size: 2vwpx;
    margin: 15px 0;
    font-weight: medium;
    color: red;
    animation-delay: .5s;
    margin: 0px;
}

.tipos_de_usuario {
    margin: 35px 0;
}

#PP_entrenador,
#PP_escuela,
#PP_usuario {
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
    cursor: pointer;
}

.tipo_hover {
    background-color: red;
}

.tipo_unhover {
    color: white !important;
}

.tipo_seleccionado {
    background-color: red;
}

.deseleccion {
    color: white !important;
}


@media only screen and (max-width: 400px) {

    .tipos_de_usuario h5 {
        font-size: 2.5vw;
    }

    #TU_info_text {
        font-size: 5vw;
    }
    #ientrenador_first_row i {
        font-size: 9vw;
    }
}